/*
@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
*/
.imgpreview {
  width: 80% !important;
  cursor: pointer;
}
.imgcenter {
  text-align: center !important;
}
select {
  font-size: 18px;
  font-weight: bold;
  font-family: "Arial Narrow";
  word-break: break-word;
}
/*
:host ::ng-deep .ck-editor__editable_inline {
    height: 150px !important;
    min-height: 150px !important;
    max-height: 150px !important;
}
*/

/* Tab set style */
.nav-tabs a.nav-link {
  color: green;
}
.nav-tabs a.nav-link.active {
  color: white;
  background-color: #8a8aa9;
}

.tab_content {
  padding: 20px;
  border: 1px solid #d7cece;
  box-shadow: inset 1px 1px 0px 0px;
  height: 450px;
  overflow: auto;
}
.pad25 {
  padding: 0 25px;
}

/* Table style */
.table-striped {
  font-size: 12px !important;
  color: #2e2ef9;
  font-family: "Arial";
}
.table-striped th {
  font-size: 11px !important;
  font-weight: bold;
  color: #636161;
  font-family: "Arial black";
}
.bold-font {
  font-weight: bold;
  color: #2e2ef9;
  font-family: "Arial";
}
.loading_indicator {
  position: absolute;
  margin-left: 22%;
  margin-top: 10%;
}
.loading_image {
  width: 50%;
}
.modal-footer {
  border-top: 1px solid #848484;
  background-color: #c3c3c3;
}
.btn {
  border-radius: 1.25rem;
}
.modal-text {
  font-size: 22px;
  color: #505050;
}
.warning-icon {
  width: 40px;
  height: 40px;
  margin-left: 40px;
}
.validation-error-message {
  color: red;
  font-size: 10px;
  font-weight: bold;
}

.delete-button {
  background-color: #ffffff00;
  color: red;
  font-size: 20px;
  padding: 0px;
  border: none;
}

.edit-button {
  background-color: #ffffff00;
  color: blue;
  font-size: 20px;
  padding: 0px;
  border: none;
}
.area-width {
  width: 100%;
  height: 250px;
}

.xbtn {
  float: right;
  font-weight: bold;
  color: white;
  background: red;
  padding: 1px 8px;
  border: 1px solid #a5a4a4;
  border-radius: 50%;
  cursor: pointer;
}

.margintop30 {
  margin-top: 30px;
}

.addbtn {
  color: #5bae5a;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.delbtn {
  color: #d97c6c;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.editbtn {
  color: #5bae5a;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.table50 {
  width: 100%;
}

.image_preview_container {
  width: 100%;
  height: 300px;
  overflow: auto;
  white-space: nowrap;
}

.image_preview {
  height: 170px;
  width: 140px;
  padding: 10px;
  border: 1px solid #bab3b3;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  white-space: normal;
  box-shadow: 0px 0px 1px 1px grey;
}
// .image {
//   height: 150px;
//   width: 120px;
//   cursor: pointer;
// }

.image2 {
  width: 90%;
  cursor: pointer;
}

.ck-editor__editable {
  height: 350px !important;
  min-height: 350px !important;
}

.mobile_view {
  background-color: white;
  height: 490px;
  width: 290px;
  margin: 10px 30%;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: justify;
  font-size: 12px;
}

.content_div {
  position: relative;
  width: 100%;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}
.bottomanchor_div {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin-left: -100px;
}
.bottomanchor_div2 {
  position: absolute;
  width: 50%;
  height: 45px;
  bottom: 0;
  margin-left: 330px;
}

.custom-btns .btn-radio:not(:disabled):not(.disabled).active,
.custom-btns .btn-radio:not(:disabled):not(.disabled):active,
.custom-btns .show > .btn-radio.dropdown-toggle {
  color: #000;
  background-color: yellow;
  border-color: yellow;
}
.custom-btns .btn-radio {
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
}
.custom-btns .btn-radio:hover {
  color: #fff;
  background-color: #3e9941;
  border-color: #3e9941;
}
.custom-btns .btn-radio.focus,
.btn-radio:focus {
  box-shadow: 0 0 0 0.2rem #ffeb3b;
}

:host ::ng-deep .image img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}
img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: contain;
}
