<div [@routerTransition]>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3" style="height: 600px;">
          <div class="card-header">
            <div class="row">
              <div class="col col-xl-8 col-lg-8">
                <h4> LEAP Individual Practice</h4>
              </div>
              <div class="col col-xl-4 col-lg-4">
                <button (click)="add_content()" class="btn btn-primary float-right"
                  type="button">&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;</button>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive">
            <div class="" [hidden]="backContent_div">
              <button (click)="back_content()" class="btn btn-primary float-right"
                type="button">&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;</button>
            </div> <br>
            <div class="pad25" [hidden]="addContent_div">
              <div class="row">
                <div class="col col-xl-4 col-lg-4">
                  <div>
                    <span class="bold-font">Language</span>
                    <span>
                      <select id="selected_prefLanguage" value="{{selected_prefLanguage}}"
                        (change)="prefLanguage_select_onchange($event)" class="form-control">
                        <option value="">Select</option>
                        <option value="od">Odia</option>
                        <option value="en">English</option>
                      </select>
                    </span>
                  </div> <br>
                </div>
                <div class="col col-xl-4 col-lg-4">
                  <div>
                    <span class="bold-font">Subject</span>
                    <span>
                      <select id="selected_prefSubject" value="{{selected_prefSubject}}"
                        (change)="prefSubject_select_onchange($event)" class="form-control">
                        <option value="">Select</option>
                        <option value="odia">Odia</option>
                        <option value="english">English</option>
                        <option value="math">Math</option>
                      </select>
                    </span>
                  </div> <br>
                </div>
                <div class="col col-xl-4 col-lg-4">
                  <div>
                    <span class="bold-font">Level</span>
                    <span>
                      <select id="selected_prefLevel" value="{{selected_prefLevel}}"
                        (change)="prefLevel_select_onchange($event)" class="form-control">
                        <option value="">Select</option>
                        <option value="level1">Level 1</option>
                        <option value="level2">Level 2</option>
                        <option value="level3">Level 3</option>
                        <option value="level4">Level 4</option>
                        <option value="level5">Level 5</option>
                      </select>
                    </span>
                  </div> <br>
                </div>
              </div>
            </div>
            <div class="pad25" [hidden]="listContent_div">
              <table class="table table-striped" *ngIf="(workshopDetails | json) != '{}'; else elseBlock">
                <thead>
                  <th style="width: 10%">Sl. No.</th>
                  <th style="width: 15%">Level</th>
                  <th style="width: 10%;">Subject</th>
                  <th style="width: 15%;">Language</th>
                  <th style="width: 30%">Content</th>
                  <th style="width: 20%">Worksheet</th>
                </thead>
                <ng-container>
                  <tbody>
                    <tr *ngFor="let detail of workshopDetails; let i=index">
                      <td (click)="update()">
                        <div class="">
                          <span class="bold-font">
                            <!-- {{ detail.sno | titlecase}} -->
                            {{ i + 1 }}
                          </span>
                        </div>
                      </td>
                      <td (click)="update(detail)">
                        <div class="">
                          <span class="bold-font">
                            {{ detail.level | titlecase }}
                          </span>
                        </div>
                      </td>
                      <td (click)="update(detail)">
                        <div class="">
                          <span class="bold-font">
                            {{ detail.subject | titlecase }}
                          </span>
                        </div>
                      </td>
                      <td (click)="update(detail)">
                        <div class="">
                          <span class="bold-font">
                            {{ detail.language | titlecase }}
                          </span>
                        </div>
                      </td>
                      <td (click)="update(detail)">
                        <div class="">
                          <span class="bold-font">
                            {{ detail.content | titlecase | slice : 0 : 25 }} ...
                          </span>
                        </div>
                      </td>
                      <td (click)="update(detail)">
                        <div class="">
                          <span class="bold-font">
                            {{ detail.worksheet | titlecase }}
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
              </table>
              <ng-template #elseBlock>
                <h5>No Data to show !</h5>
              </ng-template>
            </div>

            <div class="pad25" [hidden]="hideContent_div">
              <div>
                <span class="bold-font">Language</span>
                <span>
                  <select id="selected_language" value="{{selected_language}}"
                    (change)="language_select_onchange($event)" class="form-control">
                    <option value="">Select</option>
                    <option value="od">Odia</option>
                    <option value="en">English</option>
                  </select>
                </span>
              </div> <br>
              <div>
                <span class="bold-font">Level</span>
                <span>
                  <select id="selected_level" value="{{selected_level}}" (change)="level_select_onchange($event)"
                    class="form-control">
                    <option value="">Select</option>
                    <option value="level1">Level 1</option>
                    <option value="level2">Level 2</option>
                    <option value="level3">Level 3</option>
                    <option value="level4">Level 4</option>
                    <option value="level5">Level 5</option>
                  </select>
                </span>
              </div> <br>
              <div>
                <span class="bold-font">Subject</span>
                <span>
                  <select id="selected_level" value="{{selected_subject}}" (change)="subject_select_onchange($event)"
                    class="form-control">
                    <option value="">Select</option>
                    <option value="odia">Odia</option>
                    <option value="english">English</option>
                    <option value="math">Math</option>
                  </select>
                </span>
              </div> <br>
              <div>
                <span class="bold-font">Content</span>
                <div>
                  <ckeditor [editor]="Editor" [(ngModel)]="content_value" data="{{content_value}}"></ckeditor>
                </div>
              </div>
              <br>
              <div>
                <span class="bold-font">Worksheet</span>
                <!-- <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div> -->
                <div>
                  <input type="text" class="form-control" id="worksheet" [(ngModel)]="worksheet_value">
                </div>
              </div>
              <br>
              <div>
                <button (click)="save_btn_click()" class="btn btn-primary float-right" type="button">&nbsp;&nbsp;&nbsp;
                  {{ save_operation | titlecase }}
                  &nbsp;&nbsp;&nbsp;</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
