<div [@routerTransition]>
    <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-4">
                            <h4 style="font-size: 16px; margin-top: 5px;color: black;">Center Details</h4>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 25px; font-size: 15px;color: black;">
                    <div class="col-2">
                        <label>Center Type</label>
                        <select class="form-control select2" [(ngModel)]="center_type"
                            style="font-size: 14px; height: 30px;">
                            <option value="all">All</option>
                            <option value="anganwadi">Anganwadi</option>
                            <option value="school">School</option>
                            <option value="fellow">Fellow</option>
                        </select>

                    </div>
                    <div class="col-2">
                        <label>Select District</label>
                        <select class="form-control select2" [(ngModel)]="distric" (change)="selectBlock(distric)"
                            style=" height: 30px;">

                            <option value="all">All</option>
                            <option *ngFor="let distic of allDistics" value={{distic.district}}>{{distic.district}}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Select Block</label>
                        <select class="form-control select2" [(ngModel)]="block" style=" height: 30px;">

                            <option value="all">All</option>
                            <option *ngFor="let block of all_blocks" value={{block.block}}>{{block.block}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Program Type</label>
                        <select class="form-control select2" [(ngModel)]="program_type" style=" height: 30px;">

                            <option value="all">All</option>
                            <option value="ece">ECE</option>
                            <option value="pge">PGE</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Stages</label>
                        <select class="form-control select2" style=" height: 30px;">

                            <option value="all">All</option>
                            <option *ngIf="program_type == 'ece'" value="">Quater 1 </option>
                            <option *ngIf="program_type == 'ece'" value="">Quater 2 </option>
                            <option *ngIf="program_type == 'ece'" value="">Quater 3 </option>
                            <option *ngIf="program_type == 'ece'" value="">Quater 4 </option>
                            <option *ngIf="program_type == 'pge'" value="">Month 1</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 2</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 3</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 4</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 5</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 6</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 7</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 8</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 9</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 10</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 11</option>
                            <option *ngIf="program_type == 'pge'" value="">Month 12</option>
                        </select>
                    </div>
                    <!-- <div class="col-1">
                       
                        <button type="button" (click)="viewData()" class="btn btn-info">Filter</button>
                    </div> -->
                    <div class="col-2">

                        <div class="row">
                            <button type="button" (click)="viewData()" class="btn btn-info">Filter</button>

                            <i class="fa fa-download" (click)="download()" title="Download" style="float: right;"></i>
                        </div>


                    </div>



                </div>
                <div id="loading_indicator" class="loading_indicator" *ngIf="!isLoaded">
                    <span class=""><img src="assets/images/loader3.gif" style="padding: 25px;"
                            alt="Loading. Please wait..."></span>
                </div>

                <div id="table-scroll" class="table-scroll" *ngIf="isLoaded && !isdata_table">
                    <div class="table-wrap" style="overflow-x:auto;  margin-top: -2%;">
                        <table class="table table-striped main-table" [mfData]="filterData" #mf="mfDataTable"
                            [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Block</th>
                                    <th>District</th>
                                    <th>State</th>
                                    <th>Educator Name</th>
                                    <th>Students</th>
                                    <th>Female Students</th>

                                    <!-- <th *ngIf="program_type == 'ece'"> ECE - Level 1</th> -->
                                    <th>ECE - Level 1</th>
                                    <th>ECE - Level 2</th>
                                    <th>ECE - Level 3</th>
                                    <th>PG English Level 1</th>
                                    <th>PG English Level 2</th>
                                    <th>PG English Level 3</th>
                                    <th>PG English Level 4</th>
                                    <th>PG English Level 5</th>
                                    <th>PG Odia Level 1</th>
                                    <th>PG Odia Level 2</th>
                                    <th>PG Odia Level 3</th>
                                    <th>PG Odia Level 4</th>
                                    <th>PG Odia Level 5</th>
                                    <th>PG Math Level 1</th>
                                    <th>PG Math Level 2</th>
                                    <th>PG Math Level 3</th>
                                    <th>PG Math Level 4</th>
                                    <th>PG Math Level 5</th>



                                    <th>Average Attendance</th>
                                    <th> Percentage of students achieving monthly goals in PG - English</th>
                                    <th>Percentage of students achieving monthly goals in PG - Odia</th>
                                    <th>Percentage of students achieving monthly goals in PG - Maths</th>
                                    <th>Percentage of students achieving atleast 70% of age-appropriate skills in ECE
                                        Program</th>
                                    <!-- <th>Percentage of students achieving quarterly goals in ECE Program</th>
                                    <th>Percentage of students achieving age-appropriate skills in ECE Program2</th> -->
                                    <th>Percentage of students who jumped 1 Level in PG - English</th>
                                    <th>Percentage of students who jumped 1 Level in PG - Odia</th>
                                    <th>Percentage of students who jumped 1 Level in PG - Maths</th>
                                    <th>Percentage of students who jumped 2 Levels in PG - English</th>
                                    <th>Percentage of students who jumped 2 Levels in PG - Odia</th>
                                    <th>Percentage of students who jumped 2 Levels in PG - Maths</th>
                                    <th>No of Students who have graduated from ECE program</th>
                                    <th>No of Students who have graduated from PG program</th>
                                    <th>No of Students who have dropped out of the ECE program</th>
                                    <th>No of Students who have dropped out of the PG program</th>
                                    <th>Class/Grade of the Student</th>
                                    <!-- <th>Pre-Program Training Marks Secured</th>
                                    <th>Online Training Module Details</th> -->



                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of mf.data">

                                    <td class="sname" aria-hidden="true" (click)="opencenterDetails(editmodal,user)"
                                        style="color: blue;cursor: pointer;">{{user.center.centerid}}</td>
                                    <td>{{user.center.centername}}</td>
                                    <td>{{user.center.centertype}}</td>
                                    <td>{{user.center.block}}</td>
                                    <td>{{user.center.district}}</td>
                                    <td>{{user.state}}</td>
                                    <td>{{user.educator}}</td>
                                    <td>{{user.no_of_students}}</td>
                                    <td>{{user.no_female_students}}</td>

                                    <td>{{user.ecelevel1}}</td>
                                    <td>{{user.ecelevel2}}</td>
                                    <td>{{user.ecelevel3}}</td>

                                    <td>{{user.pgEngl1}}</td>
                                    <td>{{user.pgEngl2}}</td>
                                    <td>{{user.pgEngl3}}</td>
                                    <td>{{user.pgEngl4}}</td>
                                    <td>{{user.pgEngl5}}</td>
                                    <td>{{user.pgOdia1}} </td>
                                    <td>{{user.pgOdia2}} </td>
                                    <td>{{user.pgOdia3}}</td>
                                    <td>{{user.pgOdia4}}</td>
                                    <td>{{user.pgOdia5}} </td>
                                    <td>{{user.pgMath1}}</td>
                                    <td>{{user.pgMath2}}</td>
                                    <td>{{user.pgMath3}}</td>
                                    <td>{{user.pgMath4}}</td>
                                    <td>{{user.pgMath5}}</td>
                                    <td>{{user.average_attandance}}</td>

                                    <td>
                                        <div class="tint" aria-hidden="true" (click)="englishStudentsDetails(edit,user)" >English Goals </div>
                                    </td>
                                    <td>
                                        <div class="tint" aria-hidden="true" (click)="odiaStudentsDetails(edito,user)">Odia Goals </td>
                                    <td>
                                        <div class="tint" aria-hidden="true" (click)="mathStudentsDetails(editm,user)">Maths Goal </div>
                                    </td>
                                    <td>
                                        <div class="tint" aria-hidden="true" (click)="quarterStudentsDetails(editq,user)">Students acheiving atleast 70% </div>

                                    </td>
                                    <!-- <td> {{user.percentage_of_student_monthly_gaol_eceProgram}}</td>
                                    <td> {{user.percentage_of_student_monthly_gaol_eceProgram2}}</td> -->
                                    <td> {{user.percentage_of_students_jump1_level_pg_eng}}</td>
                                    <td> {{user.percentage_of_students_jump1_level_pg_odia}}</td>
                                    <td> {{user.percentage_of_students_jump1_level_pg_math}}</td>
                                    <td> {{user.percentage_of_students_jump2_level_pg_eng}}</td>
                                    <td> {{user.percentage_of_students_jump2_level_pg_odia}}</td>
                                    <td> {{user.percentage_of_students_jump2_level_pg_math}}</td>
                                    <td>{{user.student_graduated_ece_program}}</td>
                                    <td>{{user.student_graduated_pg_program}}</td>
                                    <td>{{user.student_dropped_ece_program}}</td>
                                    <td>{{user.student_dropped_pg_program}}</td>
                                    <td>{{user.grade_of_student}}</td>






                                    
                                </tr>

                            </tbody>


                            <tfoot>
                                <tr>
                                    <td colspan="20">
                                        <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>


                        </table>



                    </div>
                </div>

                <div class="row" *ngIf="isdata_table" style="text-align: center;margin:10%;margin-left:30%">
                    <h1>Oops!!</h1>
                    <br>
                    <span style="margin-top: 20px;">There is no Data For Selected Fields</span>
                </div>

            </div>
        </div>
    </div>
</div>



<ng-template #edit let-c="close" let-d="dismiss">
    <form role="form" >
    
        <div class="modal-body" style="margin-left: 1%;color: #867e95;font-size: 15px;">
            <div class="accordion" id="accordionExample" >
                <div class="card">
                 
              
                  <div id="collapseOne"  class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
                    <div class="card-body">

                        <table class="tb" >
                        <tr>
                            <th scope="row" class="tat">Assessment 1 :</th>
                            <td>{{getRoundedValue(Details.pgescores.english.month1.value)}}</td>
                            <td>{{Details.pgescores.english.month1.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 2 :</th>
                            <td>{{getRoundedValue(Details.pgescores.english.month2.value)}}</td>
                            <td>{{Details.pgescores.english.month2.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 3 :</th>
                            <td>{{getRoundedValue(Details.pgescores.english.month3.value)}}</td>
                            <td>{{Details.pgescores.english.month3.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 4 :</th>
                            <td>{{getRoundedValue(Details.pgescores.english.month4.value)}}</td>
                            <td>{{Details.pgescores.english.month4.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 5 :</th>
                            <td>{{getRoundedValue(Details.pgescores.english.month5.value)}}</td>
                            <td>{{Details.pgescores.english.month5.isgiven}}</td>
                        </tr>
                        </table>
                        
                       
                        
                    </div>
                  </div>
                </div>
               
                        
                      </div>
                    </div>
                
            
	
       
        <div class="modal-footer" style="margin-right: 8%;">
            <button class="footerbutton" type="button" (click)="c('Close click')" class="btn btn-default">Cancel</button>
        </div>
    </form>
</ng-template>




<ng-template #editm let-c="close" let-d="dismiss">
    <form role="form" >
    
        <div class="modal-body" style="margin-left: 1%;color: #867e95;font-size: 15px;">
            <div class="accordion" id="accordionExample" >
                <div class="card">
                 
              
                  <div id="collapseOne"  class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
                    <div class="card-body">

                        <table class="tb" >
                        <tr>
                            <th scope="row" class="tat">Assessment 1 :</th>
                            <td>{{getRoundedValue(Details.pgescores.math.month1.value)}}</td>
                            <td>{{Details.pgescores.math.month1.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 2 :</th>
                            <td>{{getRoundedValue(Details.pgescores.math.month2.value)}}</td>
                            <td>{{Details.pgescores.math.month2.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 3 :</th>
                            <td>{{getRoundedValue(Details.pgescores.math.month3.value)}}</td>
                            <td>{{Details.pgescores.math.month3.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 4 :</th>
                            <td>{{getRoundedValue(Details.pgescores.math.month4.value)}}</td>
                            <td>{{Details.pgescores.math.month4.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 5 :</th>
                            <td>{{getRoundedValue(Details.pgescores.math.month5.value)}}</td>
                            <td>{{Details.pgescores.math.month5.isgiven}}</td>
                        </tr>
                        </table>
                        
                       
                        
                    </div>
                  </div>
                </div>
               
                        
                      </div>
                    </div>
                
            
	
       
        <div class="modal-footer" style="margin-right: 8%;">
            <button class="footerbutton" type="button" (click)="c('Close click')" class="btn btn-default">Cancel</button>
        </div>
    </form>
</ng-template>



<ng-template #edito let-c="close" let-d="dismiss">
    <form role="form" >
    
        <div class="modal-body" style="margin-left: 1%;color: #867e95;font-size: 15px;">
            <div class="accordion" id="accordionExample" >
                <div class="card">
                 
              
                  <div id="collapseOne"  class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
                    <div class="card-body">

                        <table class="tb" >
                        <tr>
                            <th scope="row" class="tat">Assessment 1 :</th>
                            <td>{{getRoundedValue(Details.pgescores.odia.month1.value)}}</td>
                            <td>{{Details.pgescores.odia.month1.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 2 :</th>
                            <td>{{getRoundedValue(Details.pgescores.odia.month2.value)}}</td>
                            <td>{{Details.pgescores.odia.month2.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 3 :</th>
                            <td>{{getRoundedValue(Details.pgescores.odia.month3.value)}}</td>
                            <td>{{Details.pgescores.odia.month3.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 4 :</th>
                            <td>{{getRoundedValue(Details.pgescores.odia.month4.value)}}</td>
                            <td>{{Details.pgescores.odia.month4.isgiven}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 5 :</th>
                            <td>{{getRoundedValue(Details.pgescores.odia.month5.value)}}</td>
                            <td>{{Details.pgescores.odia.month5.isgiven}}</td>
                        </tr>
                        </table>
                        
                       
                        
                    </div>
                  </div>
                </div>
               
                        
                      </div>
                    </div>
                
            
	
       
        <div class="modal-footer" style="margin-right: 8%;">
            <button class="footerbutton" type="button" (click)="c('Close click')" class="btn btn-default">Cancel</button>
        </div>
    </form>
</ng-template>


<ng-template #editq let-c="close" let-d="dismiss">
    <form role="form" >
    
        <div class="modal-body" style="margin-left: 1%;color: #867e95;font-size: 15px;">
            <div class="accordion" id="accordionExample" >
                <div class="card">
                 
              
                  <div id="collapseOne"  class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
                    <div class="card-body">

                        <table class="tb" >
                        <tr>
                            <th scope="row" class="tat">Assessment 1 :</th>
                            <td>{{getRoundedValue(Details.ecescore.quarter1.value)}}</td>
                            
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 2 :</th>
                            <td>{{getRoundedValue(Details.ecescore.quarter2.value)}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 3 :</th>
                            <td>{{getRoundedValue(Details.ecescore.quarter3.value)}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row" class="tat">Assessment 4 :</th>
                            <td>{{getRoundedValue(Details.ecescore.quarter4.value)}}</td>
                            <td></td>
                        </tr>
                       
                        </table>
                        
                       
                        
                    </div>
                  </div>
                </div>
               
                        
                      </div>
                    </div>
                
            
	
       
        <div class="modal-footer" style="margin-right: 8%;">
            <button class="footerbutton" type="button" (click)="c('Close click')" class="btn btn-default">Cancel</button>
        </div>
    </form>
</ng-template>



<ng-template #editmodal let-c="close" let-d="dismiss">

    <form role="form">
        <div class="row">
            <span class="cross" style="cursor: pointer;"><i class="fa fa-times fa-1x" (click)="c('Close click')"
                    aria-hidden="true"></i></span>

            <label class="heading">


                <span>{{user.center.centername}}&nbsp; Center Detail</span>
            </label>
        </div>
        <div class="modal-body" style="margin-left: 1%;color: #867e95;font-size: 15px;">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" style=" margin-top: -10px; margin-left: 21%"
                                (click)="show('shoDetails')" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Basic Details
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" *ngIf="check" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-8 sideheading">ID &nbsp;:</div>
                                <div class="col-4">{{user.center._id}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Name&nbsp;:</div>
                                <div class="col-4" style="text-transform:capitalize;">{{user.center.centername}}</div>
                            </div>

                            <div class="row">
                                <div class="col-8 sideheading">Type</div>
                                <div class="col-4" style="text-transform:capitalize;">{{user.center.centertype}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Block</div>
                                <div class="col-4" style="text-transform:capitalize;">block</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">District</div>
                                <div class="col-4" style="text-transform:capitalize;">district</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">State</div>
                                <div class="col-4" style="text-transform:capitalize;">state</div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" style=" margin-top: -10px; margin-left: 21%"
                                (click)="show('eceDetails')" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                ECE Details
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" *ngIf="check1" class="collapse show" aria-labelledby="headingTwo"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4 sideheading">ECE Level 1 &nbsp;: </div>
                                <div class="col-8">{{user.eceLevel1}}</div>
                            </div>
                            <div class="row">
                                <div class="col-4 sideheading">ECE Level 2 &nbsp;: </div>
                                <div class="col-8">{{user.eceLevel2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-4 sideheading">ECE Level 3 &nbsp;: </div>
                                <div class="col-8">{{user.eceLevel3}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" style=" margin-top: -10px;margin-left: 21%;"
                                (click)="show('pgeDetails')" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                PGE Details
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" *ngIf="check2" class="collapse show" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 sideheading">PG English Level 1 :</div>
                                <div class="col-6">{{user.pgEngl1}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG English Level 2 :</div>
                                <div class="col-6">{{user.pgEngl2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG English Level 3 :</div>
                                <div class="col-6">{{user.pgEngl3}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG English Level 4 :</div>
                                <div class="col-6">{{user.pgEngl4}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG English Level 5 :</div>
                                <div class="col-6">{{user.pgEngl5}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Odia Level 1:</div>
                                <div class="col-6">{{user.pgOdia1}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Odia Level 2:</div>
                                <div class="col-6">{{user.pgOdia2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Odia Level 3:</div>
                                <div class="col-6">{{user.pgOdia3}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Odia Level 4:</div>
                                <div class="col-6">{{user.pgOdia4}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Odia Level 5:</div>
                                <div class="col-6">{{user.pgOdia5}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Maths Level 1 :</div>
                                <div class="col-6">{{user.pgMath1}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Maths Level 2 :</div>
                                <div class="col-6">{{user.pgMath2}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Maths Level 3 :</div>
                                <div class="col-6">{{user.pgMath3}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Maths Level 4 :</div>
                                <div class="col-6">{{user.pgMath4}}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 sideheading">PG Maths Level 5 :</div>
                                <div class="col-6">{{user.pgMath5}}</div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfour">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" style=" margin-top: -10px; margin-left: 21%"
                                (click)="show('scoresDetails')" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Scores
                            </button>
                        </h2>
                    </div>
                    <div id="collapsefour" *ngIf="check3" class="collapse show" aria-labelledby="headingfour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <!--                     
                        <div class="row">
                            <div class="col-8 sideheading">Average Attendance</div>
                            <div class="col-4"></div>
                        </div> -->
                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students achieving monthly goals achieved
                                    in PG - English</div>
                                <div class="col-4">{{user.percentage_of_student_monthly_gaol_eng}}</div>
                            </div>

                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students achieving monthly goals achieved
                                    in PG - Odia</div>
                                <div class="col-4">{{user.percentage_of_student_monthly_gaol_odia}}</div>
                            </div>

                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students achieving monthly goals achieved
                                    in PG - Maths</div>
                                <div class="col-4">{{user.percentage_of_student_monthly_gaol_math}}</div>
                            </div>

                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students achieving atleast 70% of
                                    age-appropriate skills in ECE Program</div>
                                <div class="col-4">
                                    {{user.Percentage_of_students_achieving_atleast_of_age_appropriate_skills_in_ece_Program}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students who jumped 1 Level in PG - English
                                </div>
                                <div class="col-4">{{user.percentage_of_students_jump1_level_pg_eng}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students who jumped 1 Level in PG - Odia
                                </div>
                                <div class="col-4">{{user.percentage_of_students_jump1_level_pg_odia}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students who jumped 1 Level in PG - Maths
                                </div>
                                <div class="col-4">{{user.percentage_of_students_jump1_level_pg_math}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students who jumped 2 or more Levels in PG
                                    - Maths</div>
                                <div class="col-4">{{user.percentage_of_students_jump2_level_pg_math}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students who jumped 2 or more Levels in PG
                                    - Odia</div>
                                <div class="col-4">{{user.percentage_of_students_jump2_level_pg_odia}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Percentage of students who jumped 2 or more Levels in PG
                                    - English</div>
                                <div class="col-4">{{user.percentage_of_students_jump2_level_pg_eng}}</div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfour">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" style=" margin-top: -10px; margin-left: 21%"
                                (click)="show('otherDetails')" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Other Details
                            </button>
                        </h2>
                    </div>
                    <div id="collapsefour" *ngIf="check4" class="collapse show" aria-labelledby="headingfour"
                        data-parent="#accordionExample">
                        <div class="card-body">


                            <div class="row">
                                <div class="col-8 sideheading">No of Students who have graduated from ECE program</div>
                                <div class="col-4">{{user.student_graduated_ece_program}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">No of Students who have graduated from PG program</div>
                                <div class="col-4">{{user.student_graduated_pg_program}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">No of Students who have dropped out of the ECE program
                                </div>
                                <div class="col-4">{{user.student_dropped_ece_program}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">No of Students who have dropped out of the PG program
                                </div>
                                <div class="col-4">{{user.student_dropped_pg_program}}</div>
                            </div>
                            <div class="row">
                                <div class="col-8 sideheading">Class/Grade of the Student</div>
                                <div class="col-4">{{user.grade_of_student}}</div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="footerbutton" type="button" (click)="c('Close click')" class="btn btn-default"
                style="width: 100%;">Cancel</button>
        </div>
    </form>

</ng-template>