<div [@routerTransition]>
    <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-4">
                            <h4 style="font-size: 16px; margin-top: 5px;color: black;">Student Details</h4>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 25px; font-size: 15px;color: black;">
                    <div class="col-2">
                        <label>User Type</label>
                        <select class="form-control select2" [(ngModel)]="userType" style="font-size: 14px; height: 30px;">
							<option value="all">All</option>
							<option value="manager">Manager</option>
							<option value="teacher">Teacher</option>
							<option value="fieldstaff">Field Staff</option>
						</select>

                    </div>
                    <div class="col-2">
                        <label>Select District</label>
                        <select class="form-control select2" [(ngModel)]="distric" (change)="selectBlock(distric)" style=" height: 30px;">
							<option value="all">All</option>
							<option *ngFor="let distic of allDistics" value={{distic.district}}>{{distic.district}}
							</option>
						</select>
                    </div>
                    <div class="col-2">
                        <label>Select Block</label>
                        <select class="form-control select2" [(ngModel)]="block" style=" height: 30px;">
							<option value="all">All</option>
							<option *ngFor="let block of all_blocks" value={{block.block}}>{{block.block}}</option>
						</select>
                    </div>
                    <div class="col-2">
                        <label>Program Type</label>
                        <select class="form-control select2" [(ngModel)]="program_type" style=" height: 30px;">
							
							<option value="all">All</option>
							<option value="ece">ECE</option>
							<option value="pge">PGE</option>
							
						</select>
                    </div>
                    <div class="col-2">
                        <button type="button" (click)="viewData()" class="btn btn-info" style="margin-top:29px;">Filter</button>
                    </div>
                    <div class="col-2">
                        <div class="row" style="float: right;">

                            <i class="fa fa-download" (click)="download()" title="Download" style="cursor: pointer;"></i>
                        </div>


                    </div>
                    <!-- <div class="col-2" style="width: 20%;margin-left: 79%;margin-top: 3%;">
                        <label>Search</label>
                        
                        
                        <input type="text" (keyup)='search($event.target.value)'>
                   
                    </div> -->


                </div>
               
           

                <div id="loading_indicator" class="loading_indicator" *ngIf="!isLoaded">
                    <span class=""><img src="assets/images/loader3.gif" style="padding: 25px;"
							alt="Loading. Please wait..."></span>
                </div>

                <div id="table-scroll" class="table-scroll" *ngIf="isLoaded">

                       <div class="table-wrap" style="overflow-x:auto; margin-top: -2%;">
                        <table class="table table-striped main-table" *ngIf="isLoaded && !isdata_table" [mfData]="getallStudents" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Date of Enrollment</th>
                                    <th>Name of the Type</th>
                                    <th>Program Type</th>
                                    <th>Block</th>
                                    <th>District</th>
                                    <th>State</th>
                                    <th>ECE Level</th>
                                    <th>PG Maths Level</th>
                                    <th>PG English Level</th>
                                    <th>PG Odia Level</th>
                                    <th>Maths Assessment Score</th>
                                    <th>English Assessment Score</th>
                                    <th>Odia Assessment Score</th>
                                    <th>Quarterly ECE Assessment Score</th>
                                    <!-- <th>Avg Quarterly Assessment Score</th> -->
                                    <th>Avg Attendance</th>
                                    <th>No of Endline Assessment Completed in PG</th>
                                    <th>No of Levels jumped in Maths</th>
                                    <th>No of Levels jumped in Odia</th>
                                    <th>No of Levels jumped in English</th>
                                    <th>Total Number of Quarter 4 Assessment Completed in ECE</th>
                                    <th>Acheived atleast 70% age-appropriate learning outcomes in ECE</th>
                                    <th>Baseline Test Completed</th>
                                    <th>Class/Grade of the Student</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of mf.data">
                                    <td class="sname" aria-hidden="true" (click)="openStudentDetails(editmodal,user)">
                                        {{user.student.studentname}}</td>
                                    <td>{{getDate(user)}}</td>
                                    <td style=" text-transform: capitalize;">{{user.user.usertype}}</td>
                                    <td style=" text-transform :uppercase">{{user.student.program}}</td>
                                    <td style=" text-transform: capitalize;">{{user.center.district}}</td>
                                    <td style=" text-transform: capitalize;">{{user.center.block}}</td>
                                    <td style=" text-transform: capitalize;">{{user.center.state}}</td>
                                    <td>{{user.student.ec_level}}</td>
                                    <td>{{user.student.math_level}}</td>
                                    <td>{{user.student.eng_level}}</td>
                                    <td>{{user.student.odia_level}}</td>
                                    <td>
                                        
                                        <div class="sc" *ngIf = "user.scores.math.value != null"><span class = "yes" >Yes</span>
                                           {{ getRoundedValue(user.scores.math.value) }}%
                                        </div>
                                        
                                        <div class = "No" *ngIf = "user.scores.math.value ==  null " >No</div>
                                      
                                        
                        
                                    </td>
                                    <td>{{getRoundedValue(user.scores.english.value)}}%</td>
                                    <td>{{getRoundedValue(user.scores.odia.value)}}%</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                
                                    



                                </tr>

                            </tbody>


                            <tfoot>
                                <tr>
                                    <td colspan="40">
                                        <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                       

                    </div>
                </div>
                <div class="row" *ngIf="isdata_table" style="text-align: center;margin:10%;margin-left:30%">
                    <h1>Oops!!</h1>
                    <br>
                    <span style="margin-top: 20px;">There is no Data For Selected Fields</span>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #editmodal let-c="close" let-d="dismiss">
    <form role="form" >
    <div class="row"> 
        <span class="cross" style="cursor: pointer;"><i class="fa fa-times" (click) ="c('Close click')" aria-hidden="true"></i></span>
    
		<label class ="heading" >
            
            
            <span>{{userDetails.student.studentname}} Detail</span>
        </label>
        </div>
        <div class="modal-body" style="margin-left: 1%;color: #867e95;font-size: 15px;">
            <div class="accordion" id="accordionExample" >
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" style=" margin-top: -10px;" (click)="show('shoDetails')" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Basic Details
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" *ngIf="check" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6 sideheading" >Student Name &nbsp;:</div>
                            <div class="col-6" style="text-transform:capitalize;">{{userDetails.student.studentname}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Date of Enrollment&nbsp;:</div>
                            <div class="col-6">{{getDate(userDetails)}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Gender&nbsp;:</div>
                            <div class="col-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Name of the type&nbsp;:</div>
                            <div class="col-6" style="text-transform:capitalize;">{{userDetails.user.usertype}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Center Name</div>
                            <div class="col-6" style="text-transform:uppercase;"></div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Center Id</div>
                            <div class="col-6" style="text-transform:uppercase;"></div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Center Type</div>
                            <div class="col-6" style="text-transform:uppercase;">{{userDetails.student.program}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Block</div>
                            <div class="col-6" style="text-transform:capitalize;">block</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">District</div>
                            <div class="col-6" style="text-transform:capitalize;">district</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">State</div>
                            <div class="col-6" style="text-transform:capitalize;">state</div>
                        </div>
              
                        
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" style=" margin-top: -10px;"  (click)="show('eceDetails')" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                       ECE Details
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo"  *ngIf="check1" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 sideheading">ECE Level &nbsp;: </div>
                            <div class="col-8">{{userDetails.student.ec_level}}</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed"  style=" margin-top: -10px;" (click)="show('pgeDetails')" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        PGE Details
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree"  *ngIf="check2" class="collapse show"  aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 sideheading">PG Maths Level :</div>
                            <div class="col-6">{{userDetails.student.math_level}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">PG English Level :</div>
                            <div class="col-6">{{userDetails.student.eng_level}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">PG Odia Level :</div>
                            <div class="col-6">{{userDetails.student.odia_level}}</div>
                        </div>
                        
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfour">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" style=" margin-top: -10px;"   (click)="show('scoresDetails')" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                         Scores
                        </button>
                      </h2>
                    </div>
                    <div id="collapsefour" *ngIf="check3" class="collapse show"  aria-labelledby="headingfour" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="row">
                            <div class="col-8 sideheading">Avg Monthly Assessment Score</div>
                            <div class="col-4">{{userDetails.averages.AvgMonthlyAssestmentScore}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Quarterly Assessment Score</div>
                            <div class="col-4">{{userDetails.averages.QuarterlyAssestmentScore}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Monthly English Assessment Score</div>
                            <div class="col-4">{{userDetails.averages.MonthlyEnglishAssestmentScore}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Avg Quarterly Assessment Score</div>
                            <div class="col-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Level Jumped</div>
                            <div class="col-4">{{userDetails.averages.LevelJumped}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Age-appropriate Learning Outcomes Achieved</div>
                            <div class="col-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Average Attendance</div>
                            <div class="col-4">{{userDetails.averages.AverageAttendance}}</div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
            
<!-- 			
            <div class="row">
                <span>Student Name &nbsp;:  &nbsp;&nbsp;&nbsp;{{userDetails.student.studentname}}</span>

            </div>
            <div class="row">
                <span>Date of Enrollment &nbsp;:  &nbsp;&nbsp;&nbsp; {{userDetails.student.registration_date}}</span>

            </div>
            <div class="row">
                <span>Name of the type &nbsp;:  &nbsp;&nbsp;&nbsp; {{userDetails.user.usertype}}</span>

			</div>
         
            <div class="row">
                <span>Type &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Block&nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>District&nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>State&nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>ECE Level&nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>PG Maths Level &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>PG English Level &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>PG Odia Level &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Avg Monthly Assessment Score &nbsp; : &nbsp;&nbsp;&nbsp;{{userDetails.averages.AvgMonthlyAssestmentScore}}</span>

            </div>
            <div class="row">
                <span>Quarterly Assessment Score &nbsp; : &nbsp;&nbsp;&nbsp;{{userDetails.averages.QuarterlyAssestmentScore}}</span>

            </div>
           
            <div class="row">
                <span>Monthly English Assessment Score &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Avg Quarterly Assessment Score &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Level Jumped &nbsp; : &nbsp;&nbsp;&nbsp;{{userDetails.averages.LevelJumped}}</span>

            </div>
            <div class="row">
                <span>Age-appropriate Learning Outcomes Achieved &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Average Attendance &nbsp; : &nbsp;&nbsp;&nbsp;{{userDetails.averages.AverageAttendance}}</span>

            </div>
            
			 -->
        </div>
        <div class="modal-footer" style="margin-right: 8%;">
            <button class="footerbutton" type="button" (click)="c('Close click')" class="btn btn-default">Cancel</button>
        </div>
    </form>
</ng-template>