/*
@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
*/
.table-scroll {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 25px;


}

.table-wrap {
  width: 100%;
  overflow: auto;

}

.table-scroll table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;

}

.table-scroll th,
.table-scroll td {
  padding: 5px 10px;


  white-space: nowrap;
  vertical-align: top;
}


.main-table td,
.main-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.main-table tr th {
  color: white;
  background-color: #59677e;
}

.main-table {
  font-size: 12px;
  background-color: white;
}

.main-table tr td {
  color: #867e95;
}


.table-striped tbody tr:nth-of-type(odd) {
  background-color: white
}

.select2 {
  font-size: 14px;
  height: 30px !important;
}

.btn {

  height: 30px;
  font-size: 14px;
  padding: 5px;
  width: 92%;

}

.card-header {
  padding: 8px !important;
}

.fa-download {
  font-size: 22px;
  margin-top: 33px;
  color: green;
  margin-right: 14px;
  float: right;
}

.sname {
  text-transform: capitalize;
  color: #007bff !important;
  cursor: pointer;
}

.heading {
  margin-left: 4%;
  color: black;
  margin-top: 5%;
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 600;
}

.cross {
  margin-top: 3%;
  position: relative;
  left: 88%;
}

.card-body row {
  color: black;
}

.sideheading {
  color: black;
}

.btn-link {
  color: black !important;
}
.tat{
  background: white;
  color: #867e95;
}
.tint{
  cursor: pointer;
  color: #007bff;
}
.chip{
  background: red;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
}
.chiip{
  background: green;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
}
.chipp{
  background: yellow;
  display: inline-block;
  padding: 2px 10px;
  border-radius: 6px;
  color: black;
  font-size: 12px;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.highlight{
  background-color: #59677e !important;
 
 td {
  color: white !important;
 }
}