<div [@routerTransition]>
    <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
					<div class="row">
						<div class="col col-xl-4 col-lg-4">
							<h4>TEACHER OFFLINE TRAINING</h4>
						</div>
						<div class="col col-xl-4 col-lg-4">

						</div>
						<div class="col col-xl-4 col-lg-4">
							<button type="button" class="btn btn-primary float-right" (click)="open(addeditmodal,null,'add')">Add offline ppt mark <i class="fa fa-plus" aria-hidden="true"></i></button>
						</div>
						
					</div>					
				</div>
				
				<div class="card-body table-responsive">
					<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="4">
						<thead>
							<tr>
								<th style="width: 25%">Select Fellow</th>
								<th style="width: 25%">Select month</th>
								<th style="width: 25%">Training Category</th>
								<th style="width: 25%">Status</th>
							</tr>
							<tr>
								<td>
									<select value="" (change)="onselect_fellow($event)" class="form-control">
										<option value="">Select fellow</option>
										<option *ngFor="let fellows of all_fellows;" value="{{ fellows.userid }}">{{ fellows.username }}</option>									
									</select>
								</td>
								<td>
									<select value="" (change)="onselect_month($event)" class="form-control">
										<option value="">Select month</option>
										<option *ngFor="let month of allmonth_list;" value="{{ month.value }}">{{ month.text }}</option>									
									</select>
								</td>
								<td>
									<select value="" (change)="onselect_category($event)" class="form-control">
										<option value="">Select category</option>
										<option value="online">Online</option>
										<option value="ofline">Ofline</option>									
									</select>
								</td>
								<td>
									<select value="" (change)="onselect_status($event)" class="form-control">
										<option value="">Select Status</option>
										<option value="yes">yes</option>						<option value="no">no</option>				
									</select>
								</td>
								<td>
									<button (click)="save_btn_click()" class="btn btn-primary float-right" type="button">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>
								</td>	
							</tr>
						</thead>
					</table>
				</div>

				<div id="loading_indicator" class="loading_indicator" [hidden]="hideLoading_indicator" >
					<span class=""><img src="assets/images/loader3.gif" alt="Loading. Please wait..." ></span>
				</div>

				<div id="content_div" class="pad25" [hidden]="hideContent_div" >
					
					<div>
						
						<!-- <button (click)="save_btn_click()" class="btn btn-sm btn-primary float-right" type="button">&nbsp;&nbsp;&nbsp; {{ save_operation | titlecase }} &nbsp;&nbsp;&nbsp;</button> -->
					</div>
				</div>
				<ng-template #addeditmodal let-c="close" let-d="dismiss">
					<div class="modal-body">
						<div class="row">
							<div class="col col-xl-4 col-lg-4">Name of fellow</div>
							<div class="col col-xl-8 col-lg-8 row-fluid">
								<select value="" (change)="changefellow($event)" class="form-control">
									<option value="">Select fellow</option>
									<option *ngFor="let fellows of all_fellows;" value="{{ fellows.userid }}">{{ fellows.username }}</option>									
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col col-xl-4 col-lg-4">Offlinepptmark</div>
							<div class="col col-xl-8 col-lg-8 row-fluid">
								<input value="{{ offlinepptmark }}" [(ngModel)]="offlinepptmark" type="text" placeholder="offline ppt mark" class="modal_textbox" ng-pattern-restrict="^[a-zA-Z0-9]+" style='text-transform:uppercase'>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
						<button type="button" class="btn btn-primary" (click)="submit_data()">&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;</button>
					</div>
				</ng-template>
            </div>                       
        </div>        
    </div>
</div>
