<div [@routerTransition]>
    <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-4">
                            <h4 style="font-size: 16px; margin-top: 5px;color: black;">Individual User Details</h4>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 25px; font-size: 15px;color: black;">
                    <div class="col-2" >
                        <label>Search</label>
                        
                        
                        <input type="text" (keyup)='search($event.target.value)'>
                   
                    </div> 
                    
                   
                    <div class="col-2">
                        <button type="button" (click)="viewData()" class="btn btn-info">Display</button>
                    </div>
                    <div class="col-2">
                        <div class="row" style="float: right;">

                            <i class="fa fa-download" (click)="download()" title="Download" style="cursor: pointer;"></i>
                        </div>


                    </div>
                   


                </div>
                <div id="loading_indicator" class="loading_indicator" *ngIf="isLoaded">
                    <span class=""><img src="assets/images/loader3.gif" style="padding: 25px;"
							alt="Loading. Please wait..."></span>
                </div>

             
            </div>
        </div>
    </div>
</div>



<!-- <ng-template #editmodal let-c="close" let-d="dismiss">
    <form role="form" ><div class="row"> 
        <span class="cross" style="cursor: pointer;"><i class="fa fa-times" (click) ="c('Close click')" aria-hidden="true"></i></span>
    </div>
		<label class ="heading" >
            
            
            <span>{{userDetails.student.studentname}} Detail
            </span></label>
        <div class="modal-body" style="margin-left: 1%;color: #867e95;font-size: 15px;">
            <div class="accordion" id="accordionExample" >
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" (click)="show('shoDetails')" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Basic Details
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" *ngIf="check" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" >
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6 sideheading" >Student Name &nbsp;:</div>
                            <div class="col-6" style="text-transform:capitalize;">{{userDetails.student.studentname}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Date of Enrollment&nbsp;:</div>
                            <div class="col-6">{{userDetails.student.registration_date}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Name of the type&nbsp;:</div>
                            <div class="col-6">{{userDetails.user.usertype}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Type</div>
                            <div class="col-6">{{userDetails.student.program}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">Block</div>
                            <div class="col-6">block</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">District</div>
                            <div class="col-6">district</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">State</div>
                            <div class="col-6">state</div>
                        </div>
              
                        
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed"   (click)="show('eceDetails')" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                       ECE Details
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo"  *ngIf="check1" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 sideheading">ECE Level &nbsp;: </div>
                            <div class="col-8">{{userDetails.student.ec_level}}</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" (click)="show('pgeDetails')" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        PGE Details
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree"  *ngIf="check2" class="collapse show"  aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 sideheading">PG Maths Level :</div>
                            <div class="col-6">{{userDetails.student.math_level}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">PG English Level :</div>
                            <div class="col-6">{{userDetails.student.eng_level}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 sideheading">PG Odia Level :</div>
                            <div class="col-6">{{userDetails.student.odia_level}}</div>
                        </div>
                        
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingfour">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed"  (click)="show('scoresDetails')" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                         Scores
                        </button>
                      </h2>
                    </div>
                    <div id="collapsefour" *ngIf="check3" class="collapse show"  aria-labelledby="headingfour" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="row">
                            <div class="col-8 sideheading">Avg Monthly Assessment Score</div>
                            <div class="col-4">{{userDetails.averages.AvgMonthlyAssestmentScore}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Quarterly Assessment Score</div>
                            <div class="col-4">{{userDetails.averages.QuarterlyAssestmentScore}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Monthly English Assessment Score</div>
                            <div class="col-4">{{userDetails.averages.MonthlyEnglishAssestmentScore}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Avg Quarterly Assessment Score</div>
                            <div class="col-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Level Jumped</div>
                            <div class="col-4">{{userDetails.averages.LevelJumped}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Age-appropriate Learning Outcomes Achieved</div>
                            <div class="col-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-8 sideheading">Average Attendance</div>
                            <div class="col-4">{{userDetails.averages.AverageAttendance}}</div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
            
<!-- 			
            <div class="row">
                <span>Student Name &nbsp;:  &nbsp;&nbsp;&nbsp;{{userDetails.student.studentname}}</span>

            </div>
            <div class="row">
                <span>Date of Enrollment &nbsp;:  &nbsp;&nbsp;&nbsp; {{userDetails.student.registration_date}}</span>

            </div>
            <div class="row">
                <span>Name of the type &nbsp;:  &nbsp;&nbsp;&nbsp; {{userDetails.user.usertype}}</span>

			</div>
         
            <div class="row">
                <span>Type &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Block&nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>District&nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>State&nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>ECE Level&nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>PG Maths Level &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>PG English Level &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>PG Odia Level &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Avg Monthly Assessment Score &nbsp; : &nbsp;&nbsp;&nbsp;{{userDetails.averages.AvgMonthlyAssestmentScore}}</span>

            </div>
            <div class="row">
                <span>Quarterly Assessment Score &nbsp; : &nbsp;&nbsp;&nbsp;{{userDetails.averages.QuarterlyAssestmentScore}}</span>

            </div>
           
            <div class="row">
                <span>Monthly English Assessment Score &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Avg Quarterly Assessment Score &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Level Jumped &nbsp; : &nbsp;&nbsp;&nbsp;{{userDetails.averages.LevelJumped}}</span>

            </div>
            <div class="row">
                <span>Age-appropriate Learning Outcomes Achieved &nbsp; : &nbsp;&nbsp;&nbsp;</span>

            </div>
            <div class="row">
                <span>Average Attendance &nbsp; : &nbsp;&nbsp;&nbsp;{{userDetails.averages.AverageAttendance}}</span>

            </div>
            
			 
        </div>
        <div class="modal-footer" style="margin-right: 8%;">
            <button class="footerbutton" type="button" (click)="c('Close click')" class="btn btn-default">Cancel</button>
        </div>
    </form>
</ng-template> -->