<div [@routerTransition]>    
    <div class="row" style="margin-top: 2%;">
        <!-- <input type="text" placeholder="Search.." id="myInput" (keyup)="filterFunction()" [(ngModel)]="managerData"  style="font-size: 14px; height: 35px; width: 15%; margin-left: 30px;"> -->

        <select class="form-control select2"  [(ngModel)]="managerData"  style="font-size: 14px; height: 35px; width: 15%; margin-left: 32px;" >
          
            <option value="select">Select</option>
            <option *ngFor="let man of managerDetails" value={{man.manager._id}}>{{man.manager.username}}</option>
           
       </select> &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" (click)="getUserData(managerData)" style="height: 35px;">Search</button>

        
         
        <!-- <h3 style="margin-left:29px;text-transform: capitalize;" *ngIf="userDetails && userDetails.manger && userDetails.manger.username">{{userDetails.manger.username}} &nbsp; Detail</h3> -->
        <div class="col col-xl-12 col-lg-12" style="padding: 3%;padding-top: unset;margin-top: 2%;">

            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-4">
                            <h4 style="font-size: 16px; margin-top: 5px;  margin-left: -6px;color: black;">Individual User Details</h4>
                        </div>
                    </div>
                </div>
                <!-- <div class="row" style="padding: 25px; font-size: 15px;color: black;"> -->
                <div class="type1">
                    <div class="row">
                        <div class="col-4 sideheading">Name :</div>
                        <div class="col-6"><span *ngIf="userDetails && userDetails.manger && userDetails.manger.username">{{userDetails.manger.username}}</span></div>

                    </div>

                    <div class="row">
                        <div class="col-4 sideheading">Qualification :</div>
                        <div class="col-6"></div>
                    </div>


                    <div class="row">
                        <div class="col-4 sideheading">Contact No :</div>
                        <div class="col-6"><span *ngIf="userDetails && userDetails.contact_no">{{userDetails.contact_no}}</span></div>

                    </div>
                    <div class="row">
                        <div class="col-4 sideheading">Address :</div>
                        <div class="col-6"><span *ngIf="userDetails && userDetails.address">{{userDetails.address}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4 sideheading">Special Initiatives :</div>
                        <div class="col-6"><span *ngIf="userDetails && userDetails.special_initiatives">{{userDetails.special_initiatives}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4 sideheading">Aspirations :</div>
                        <div class="col-6"><span *ngIf="userDetails && userDetails.aspirations">{{userDetails.aspirations}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4 sideheading">Centre Start Date :</div>
                        <div class="col-6">{{getDate(userDetails)}}</div>
                    </div>
                    <div class="row">
                        <div class="col-4 sideheading">Pre-Program Training Marks Secured :</div>
                        <div class="col-6"><span *ngIf="userDetails && userDetails.pre_Program_Training_Marks_Secured">{{userDetails.pre_Program_Training_Marks_Secured}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4 sideheading">Online Training Module Details :</div>
                        <div class="col-6"><span  *ngIf="userDetails && userDetails.online_Training_Module_Details">{{userDetails.online_Training_Module_Details}}</span></div>

                    </div>
                    <div class="row">
                        <div class="col-4 sideheading">Average Students Attendance :</div>
                        <div class="col-6"><span  *ngIf="userDetails && userDetails.average_Students_Attendance">{{userDetails.average_Students_Attendance}}</span></div>
                    </div>


                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-4">
                            <h4 style="font-size: 16px; margin-left: -6px; margin-top: 5px;color: black;">Center Details</h4>
                        </div>
                    </div>
                </div>
                <div class="type2">
                    <div class="row">
                        <div class="col-6 sideheading">Id :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.manger && userDetails.manger._id">{{userDetails.manger._id}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Name :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.manger && userDetails.manger._id">{{userDetails.manger.username}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Type :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.center && userDetails.center.centertype">{{userDetails.center.centertype}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Block :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.center && userDetails.center.block">{{userDetails.center.block}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">District :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.center && userDetails.center.district">{{userDetails.center.district}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">State :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.center && userDetails.center.state">{{userDetails.center.state}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Educator Name :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.educator_name">{{userDetails.educator_name}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-4 sideheading">No of Students :</div>
                        <div class="col-6"><span *ngIf="userDetails && userDetails.no_of_Students ">{{userDetails.no_of_Students}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">ECE - Level 1 :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.ece_level1 ">{{userDetails.ece_level1}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">ECE - Level 2 :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.ece_level2 ">{{userDetails.ece_level2}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">ECE - Level 3 :</div>
                        <div class="col-4"><span *ngIf="userDetails && userDetails.ece_level3">{{userDetails.ece_level3}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG English Level 1 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pge_eng_level1 == 0 || userDetails.pge_eng_level1) ">{{userDetails.pge_eng_level1}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG English Level 2 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pge_eng_level2 == 0 || userDetails.pge_eng_level2)">{{userDetails.pge_eng_level2}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG English Level 3 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pge_eng_level3 == 0 || userDetails.pge_eng_level3)">{{userDetails.pge_eng_level3}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG English Level 4 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pge_eng_level4 == 0 || userDetails.pge_eng_level4)">{{userDetails.pge_eng_level4}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG English Level 5 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pge_eng_level5 == 0 || userDetails.pge_eng_level5)">{{userDetails.pge_eng_level5}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Odia Level 1 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_odia_level1 == 0 || userDetails.pg_odia_level1)">{{userDetails.pg_odia_level1}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Odia Level 2 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_odia_level2 == 0 || userDetails.pg_odia_level2) ">{{userDetails.pg_odia_level2}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Odia Level 3 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_odia_level3 == 0 || userDetails.pg_odia_level3) ">{{userDetails.pg_odia_level3}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Odia Level 4 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_odia_level4 == 0 || userDetails.pg_odia_level4) ">{{userDetails.pg_odia_level4}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Odia Level 5 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_odia_level5 == 0 || userDetails.pg_odia_level5) ">{{userDetails.pg_odia_level5}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Maths Level 1 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_math_level1 == 0 || userDetails.pg_math_level1)">{{userDetails.pg_math_level1}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Maths Level 2 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_math_level2 == 0 || userDetails.pg_math_level2)">{{userDetails.pg_math_level2}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Maths Level 3 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_math_level3 == 0 || userDetails.pg_math_level3)">{{userDetails.pg_math_level3}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Maths Level 4 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_math_level4 == 0 || userDetails.pg_math_level4) ">{{userDetails.pg_math_level4}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Maths Level 5 :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_math_level5 == 0 || userDetails.pg_math_level5)">{{userDetails.pg_math_level5}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Average Attendance :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.avrage_attendance == 0 || userDetails.avrage_attendance)">{{userDetails.avrage_attendance}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students achieving monthly goals in PG - English :
                        </div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_ach_moth_goal_pg_eng ==0 || userDetails.perc_of_students_ach_moth_goal_pg_eng)">{{userDetails.perc_of_students_ach_moth_goal_pg_eng}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students achieving monthly goals in PG - Odia :
                        </div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_ach_moth_goal_pg_odia ==0 || userDetails.perc_of_students_ach_moth_goal_pg_odia)">{{userDetails.perc_of_students_ach_moth_goal_pg_odia}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students achieving monthly goals in PG - Maths :
                        </div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_ach_moth_goal_pg_math ==0  || userDetails.perc_of_students_ach_moth_goal_pg_math)">{{userDetails.perc_of_students_ach_moth_goal_pg_math}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students achieving quarterly goals in ECE Program :
                        </div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_ach_quaterly_goal_pg_ece_prog ==0 || userDetails.perc_of_students_ach_quaterly_goal_pg_ece_prog)">{{userDetails.perc_of_students_ach_quaterly_goal_pg_ece_prog}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students achieving age-appropriate skills in ECE
                            Program :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_age_appr_sk_ece_prog  ==0 || userDetails.perc_of_students_age_appr_sk_ece_prog)">{{userDetails.perc_of_students_age_appr_sk_ece_prog}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students who jumped 1 Level in PG - English :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_jump1_level_pg_eng ==0 || userDetails.perc_of_students_jump1_level_pg_eng)">{{userDetails.perc_of_students_jump1_level_pg_eng}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students who jumped 1 Level in PG - Odia :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_jump1_level_pg_odia ==0 || userDetails.perc_of_students_jump1_level_pg_odia)">{{userDetails.perc_of_students_jump1_level_pg_odia}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students who jumped 1 Level in PG - Maths :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_jump1_level_pg_math ==0 || userDetails.perc_of_students_jump1_level_pg_math)">{{userDetails.perc_of_students_jump1_level_pg_math}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students who jumped 2 Levels in PG - English :
                        </div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_jump2_level_pg_eng ==0 || userDetails.perc_of_students_jump2_level_pg_eng)">{{userDetails.perc_of_students_jump2_level_pg_eng}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students who jumped 2 Levels in PG - Odia :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_jump2_level_pg_odia ==0 || userDetails.perc_of_students_jump2_level_pg_odia)">{{userDetails.perc_of_students_jump2_level_pg_odia}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Percentage of students who jumped 2 Levels in PG - Maths :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.perc_of_students_jump2_level_pg_math ==0 || userDetails.perc_of_students_jump2_level_pg_math)">{{userDetails.perc_of_students_jump2_level_pg_math}}</span></div>
                    </div>

                </div>
            </div>

            <div class="card mb-3"> 
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-4">
                            <h4 style="font-size: 16px; margin-left: -6px; margin-top: 5px;color: black;">Student Details</h4>
                        </div>
                    </div>
                </div>
                <div class="type3">
                    <div class="row">
                        <div class="col-6 sideheading">Name of the Student :</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Name of the Type :</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Type :</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Block :</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">District :</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">State :</div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">ECE Level :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_ec_level == 0 || userDetails.pg_ec_level)">{{userDetails.pg_ec_level}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Maths Level :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_math_level == 0 || userDetails.pg_math_level)">{{userDetails.pg_math_level}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG English Level :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_eng_level == 0 || userDetails.pg_eng_level)">{{userDetails.pg_eng_level}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">PG Odia Level :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.pg_odia_level == 0 || userDetails.pg_odia_level)">{{userDetails.pg_odia_level}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Avg Monthly Assessment Score :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.avg_month_assesmt_score == 0 || userDetails.avg_month_assesmt_score)">{{userDetails.avg_month_assesmt_score}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Quarterly Assessment Score :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.quaterly_assesmt_score == 0 || userDetails.quaterly_assesmt_score)">{{userDetails.quaterly_assesmt_score}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Monthly English Assessment Score :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.month_eng_assesmt == 0 || userDetails.month_eng_assesmt)">{{userDetails.month_eng_assesmt}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Avg Quarterly Assessment Score :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.avg_quaterly_assesmt_score == 0 || userDetails.avg_quaterly_assesmt_score)">{{userDetails.avg_quaterly_assesmt_score}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Level Jumped :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.level_jump == 0 || userDetails.level_jump)">{{userDetails.level_jump}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Age-appropriate Learning Outcomes Achieved :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.age_appr_lerng_outcoms_achieved == 0 || userDetails.age_appr_lerng_outcoms_achieved)">{{userDetails.age_appr_lerng_outcoms_achieved}}</span></div>
                    </div>
                    <div class="row">
                        <div class="col-6 sideheading">Average Attendance :</div>
                        <div class="col-4"><span *ngIf="userDetails && (userDetails.avr_attendance == 0 || userDetails.avr_attendance)">{{userDetails.avr_attendance}}</span></div>
                    </div>

                </div>
            </div>

            <!-- <div id="loading_indicator" class="loading_indicator" *ngIf="isLoaded">
                    <span class=""><img src="assets/images/loader3.gif" style="padding: 25px;"
                            alt="Loading. Please wait..."></span>
                </div> -->



        </div>
    </div>
</div>



		