.carousel-caption {
	background-color: #00000094;
    top: 0;
    bottom: auto;
}
.counter{
    font-size: 30px;
}

.card_maindiv{
    /*border: 1px solid #d9d9d9;*/
    margin: 5px;
    padding: 15px;
    box-shadow: 0px 1px 1px 0px #959191;
    background: #f3f0f6;
}
.card_left_innerdiv{
    font-size: 18px;
    font-weight: bold;
    color: #848282;
    height: 65px;
}
.card_right_innerdiv{
    text-align: right;
    font-weight: bold;
    font-size: 25px;
    color: #a7a7a7;
    width: 100%;
}
.card_right_innerspan{
    border: 1px solid #000000;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #2489a3;
    color: #ffffff;
    width: 80px;
    display: block;
}
.loading_span{
    margin-left: 15px;
    font-weight: bold;
    font-size: 25px;
}

.modal_records_found{
    width: 100%;
    text-align: center;
    color: #747171;
    font-size: 25px;
    font-weight: bold;
}

.modal_scroll_container{
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #eaeaea;
}

.modal_list_card{
    background: #ffffff;
    margin: 10px;
    padding: 10px 25px;
    border-left: 1px solid #c3c3c3;
    border-bottom: 1px solid #aba6a6;
}

.modal_list_title1{
    font-size: 18px;
    color: #4a4747;
    font-weight: bold;
}

.modal_list_title2{
    font-size: 12px;
    color: #b9b3b3;
    margin-left: 25px;
}