<div [@routerTransition]> 
    <!-- ======================== ROW 1 ============================  -->
    <div class="row">
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Users</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">2931</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Managers</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">9</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Field staffs</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">9</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Centers</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">101</span></div>
            </div>
        </div>
    </div>
    
    <!-- ======================== ROW 2 ============================  -->
    <div class="row"  *ngFor="let count of data">
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">All Students</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.allStudent}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">ECE Students</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.allecestudents}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">PGE Students</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.allpgestudents}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">TIME Fellows</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.allfellow}}</span></div>
            </div>
        </div>
    </div>
    
    <!-- ======================== ROW 3 ============================  -->
    <div class="row"  *ngFor="let count of data">
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Total Girls</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.girlCount}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Anganwadis</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.allanganwadi}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Schools</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.allschool}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class=""></div>
        </div>
    </div>
    
    <!-- ======================== ROW 4 ============================  -->
    <div class="row"  *ngFor="let count of data">
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">ECE 70% Learning Outcomes</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.passcount || '0'}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Level jump Odia</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.allodia}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Level Jump Math</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.allmath}}</span></div>
            </div>
        </div>
        <div class="col col-lg-3 col-md-3 col-sm-3">
            <div class="row card_maindiv">
                <div class="col col-lg-7 col-md-7 col-sm-7 card_left_innerdiv"><span class="">Level Jump English</span></div>
                <div class="col col-lg-5 col-md-5 col-sm-5 card_right_innerdiv"><span class="card_right_innerspan">{{count.alleng}}</span></div>
            </div>
        </div>
    </div>



<!--
    <div class="row" >
        <div class="col-xl-3 col-lg-6">
			<a [routerLink]="['/users']">
            <app-stat [bgClass]="'primary'" [icon]="'fa-address-card-o'" [count]="2931" [label]="'Users'" ></app-stat>
			</a>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="9" [label]="'Managers'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="9" [label]="'Field Staffs'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <a [routerLink]="['/centers']">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="101" [label]="'Centers'"></app-stat>
        </a>
        </div>
    </div> 
    <div class="row" style="margin-top: 1%;"  *ngFor="let count of data">
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block">All Students</div>
                            <div class="counter">{{count.allStudent}}</div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
            
            <div class="col-xl-3 col-lg-6">
                <div class="card text-white bg-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="d-block">ECE Students</div>
                                <div class="counter">{{count.allecestudents}}</div>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
       
            
            <div class="col-xl-3 col-lg-6">
                <div class="card text-white bg-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="d-block">PGE Students</div>
                                <div class="counter">{{count.allpgestudents}}</div>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
           
            <div class="col-xl-3 col-lg-6">
                <div class="card text-white bg-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col col-xs-9 text-right">
                                <div class="d-block">Time Fellows</div>
                                <div class="counter">{{count.allfellow}}</div>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <div class="row" style="margin-top: 1%;" *ngFor="let count of data">
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block">Total Girls</div>
                            <div class="counter">{{count.girlCount}}</div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block">Schools</div>
                            <div class="counter">{{count.allschool}}</div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block">Anganwadi</div>
                            <div class="counter">{{count.allanganwadi}}</div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block" style="font-size: 10px;"> 70%  learning outcomes in ECE</div>
                            <div class="counter">{{count.passcount}}</div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 1%;"  *ngFor="let count of data" >
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block" style="font-size: 10px;"> students jumped 1 or more Level in Odia</div>
                            <div class="counter">{{count.allodia}}</div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block" style="font-size: 10px;">Students jumped 1 or more Level in Maths</div>
                            <div class="counter">{{count.allmath}}</div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
        <div class="col-xl-3 col-lg-6">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col col-xs-9 text-right">
                            <div class="d-block" style="font-size: 10px;"> Students jumped 1 or more Level in English</div>
                            <div class="counter">{{count.alleng}}</div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<hr>
	<div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>       
-->
</div>
