<div [@routerTransition]>
  <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col col-xl-4 col-lg-4">
              <h4>SUPERVISOR CONTROLLER</h4>
            </div>

            <div class="col">
              <button
                type="button"
                class="btn btn-primary float-right"
                (click)="open(savemodal, 'save')"
              >
                &nbsp;&nbsp;&nbsp;Add Supervisor Details&nbsp;&nbsp;&nbsp;
              </button>
            </div>
          </div>
        </div>

        <!-- content displayed here -->
        <div class="card-body table-responsive">
          <div
            id="loading_indicator"
            class="loading_indicator"
            [hidden]="hideLoading_indicator"
          >
            <span class=""
              ><img
                src="assets/images/loader3.gif"
                alt="Loading. Please wait..."
            /></span>
          </div>
          <div>
            <div class="row">
              <!-- SEARCH -->
              <!-- <div class="col col-xl-6 col-lg-6"> -->
                <!-- <div class="row">
                  <div class="col col-xl-4 col-lg-4">

                  </div>
                  <div class="col col-xl-6 col-lg-6">
                  
                    <input
                      (keyup)="search($event)"
                      type="text"
                      placeholder="Search"
                      class="modal_textbox"
                    />
                  </div>
                </div> -->
                
              <!-- </div>   -->

              <!-- <div class=""   *ngIf="this.sup == false"> -->
                <!-- <h2>
                  {{ allanganwadilist_bkp.anganwadiname.length }} Record(s)
                </h2> -->
              <!-- <table>
                <tr
                  *ngFor="
                    let row of allanganwadilist_bkp.anganwadiname;
                    let i = index
                  "
                >
                  <td style="width: 10%">{{ i + 1 }}</td>
                  <td style="width: 80%">
                    <div class="row">{{ row.passcode }}</div>
                    <div class="row">
                      {{ row.anganwadiname }} Anganwadis found
                    </div>
                  </td>
                </tr>
              </table> -->
            <!-- </div> -->

              <!-- SEARCH -->

              <!-- Records List -->
              <div class="col col-xl-6 col-lg-6" *ngIf="this.sup == true">
                <!-- <div class="col col-xl-6 col-lg-6" > -->
                <div class="row">
                  <div class="col col-xl-4 col-lg-4">
                    <h2>{{ supervisordata.length }} Record(s)</h2>
                  </div>
                  <div class="col col-xl-6 col-lg-6">
                    <!-- <input
                      (keyup)="search($event.target.value)"
                      type="text"
                      placeholder="Search"
                      class="modal_textbox"
                    /> -->
                  </div>
                </div>
                <div class="">
                  <table>
                    <tr
                      *ngFor="let row of supervisordata; let i = index"
                      (click)="record_onselect(row)"
                    >
                      <td style="width: 10%">{{ i + 1 }}</td>
                      <td style="width: 80%">
                        <div class="row">{{ row.passcode }}</div>
                        <div class="row">
                          ({{ row.anganwadiList.length }}) Anganwadis found
                        </div>
                        <div
                          *ngFor="
                            let anganwadi of row.anganwadiList;
                            let j = index
                          "
                        >
                          <!-- isselected = true -->
                          <!-- {{j+1}}. {{anganwadi.anganwadiname}} -->

                          <div *ngIf="anganwadi.isselected == true">
                            Selected:- {{ j + 1 }}.{{ anganwadi.anganwadiname }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <!-- Deatils View -->
              <div class="col row-fluid">
                <div class="row">
                  <div class="col col-xl-4 col-lg-4"><h2>Details</h2></div>
                  <div class="col" [hidden]="no_record_selected">
                    <!-- <button
                      type="button"
                      class="btn btn-danger float-right btn-sm"
                      (click)="delete_data()"
                    >
                      &nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;
                    </button> -->
                    <button
                      type="button"
                      class="btn btn-secondary float-right btn-sm"
                      (click)="open(updatemodal, 'update')"
                    >
                      &nbsp;&nbsp;&nbsp;Update&nbsp;&nbsp;&nbsp;
                    </button>
                  </div>
                </div>
                <div class="" [hidden]="no_record_selected">
                  <div class="row">
                    <div class="col col-xl-4 col-lg-4">Supervisor Passcode</div>
                    <div class="col">:{{ txt_passcode }}</div>
                  </div>
                  <div class="row">
                    <div class="col col-xl-4 col-lg-4">Anganwadi Name</div>
                    <div class="col">: {{ txt_anganwadiname }}</div>
                  </div>
                </div>
                <div class=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Save Modal starts from here -->
<ng-template #savemodal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="row">
      <div class="col col-xl-4 col-lg-4">Supervisor Passcode</div>
      <div class="col col-xl-8 col-lg-8 row-fluid">
        <input
          value="{{ txt_passcode }}"
          type="text"
          placeholder="SUPERVISOR PASSCODE"
          class="modal_textbox"
          [(ngModel)]="txt_passcode"
        />
      </div>
    </div>

    <div class="row">
      <div class="col col-xl-4 col-lg-4 form_label">State</div>
      <div class="col row-fluid" style="font-weight: bold">
        <select
          value="{{ selected_stateid }}"
          (change)="selected_state_onchange($event)"
          class="form-control"

        >
          <option></option>
          <option value="20">Odisha</option>
        </select>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col col-xl-4 col-lg-4 form_label">District</div>
      <div class="col row-fluid" style="font-weight: bold">
        <select
          value="{{ selected_districtid }}"
          (change)="selected_district_onchange($event)"
          class="form-control"

        >
                  <!-- [(ngModel)]="selected_districtname" -->
          <option value=""></option>
          <option *ngFor="let dist of alldistrictdata" value="{{ dist._id }}">
            {{ dist.districtname | titlecase }}
          </option>
        </select>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col col-xl-4 col-lg-4 form_label">Block</div>
      <div class="col row-fluid" style="font-weight: bold">
        <select
          value="{{ selected_blockid }}"
          (change)="selected_block_onchange($event)"
          class="form-control"
        >
          <option value=""></option>
          <option *ngFor="let block of allblockdata" value="{{ block._id }}">
            {{ block.blockname | titlecase }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-xl-4 col-lg-4">Anganwadi List</div>
    <div class="col col-xl-8 col-lg-8 row-fluid">
      <div *ngFor="let item of allanganwadicontrollerlist" class="row">
        <div class="col-35">
          <label>{{ item.anganwadiname }}</label>

          <input
            type="checkbox"
            name="item.name"
            (change)="onchange()"
            [(ngModel)]="item.isselected"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="save_data()">
      &nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;
    </button>
  </div>
</ng-template>

<!-- Update Modal starts from here -->
<ng-template #updatemodal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="row">
      <div class="col col-xl-4 col-lg-4">Passcode</div>
      <div class="col col-xl-8 col-lg-8 row-fluid">
        <input
          value="{{ txt_passcode }}"
          [(ngModel)]="txt_passcode"
          type="text"
          placeholder="Supervisor Passcode"
          class="modal_textbox"
        />
      </div>
    </div>
    <hr />

    <!-- <div class="row">
      <div class="col col-xl-4 col-lg-4">Anganwadi List</div>
      <div  class="col col-xl-8 col-lg-8 row-fluid">
        <div *ngFor="let item of selected_record; let i = index" class="row">
          <div *ngFor="let row of item.anganwadiList; let j = index" class="col-35">
            <label>{{ row.anganwadiname }}</label>
  
            <input
              type="checkbox"
              name="row.name"
              (change)="onchange()"
              [(ngModel)]="row.isselected"
            />
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col col-xl-4 col-lg-4">Anganwadi List</div>
      <div class="col col-xl-8 col-lg-8 row-fluid">
        <div class="row">
          <div class="col-35">
            <div
              *ngFor="
                let item of this.selected_record.anganwadiList;
                let i = index
              "
              class=""
            >
              <label>{{ item.anganwadiname }}</label>
              <label>{{ item.isselected }}</label>
              <input
                type="checkbox"
                [checked]="item.isselected"
                (change)="onchange_update()"
                [(ngModel)]="item.isselected"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col col-xl-4 col-lg-4">Un-set Anganwadi List</div>
      <div class="col col-xl-8 col-lg-8 row-fluid">
        <div class="row">
          <div class="col-35">
            <div
              *ngFor="
                let item of this.selected_record.anganwadiList;
                let i = index
              "
              class=""
            >
              <label>{{ item.anganwadiname }}</label>
              <label>{{ item.isselected }}</label>
              <input
                type="checkbox"
                [checked]="item.isselected"
                (change)="onchange_update2()"
                [(ngModel)]="item.isselected"
              />
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="update_data()">
      &nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;
    </button>
  </div>
</ng-template>
<!-- <ng-template #updatemodal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="row">
      <div class="col col-xl-4 col-lg-4">Supervisor Passcode</div>
      <div class="col col-xl-8 col-lg-8 row-fluid">
        <input
          value="{{ txt_passcode }}"
          type="text"
          placeholder="SUPERVISOR PASSCODE"
          class="modal_textbox"
        
          [(ngModel)]="txt_passcode"
        />
      </div>
    </div>

    <div class="row">
      <div class="col col-xl-4 col-lg-4 form_label">State</div>
      <div class="col row-fluid" style="font-weight: bold">
        <select
          value="{{ selected_stateid }}"
          (change)="selected_state_onchange($event)"
          class="form-control"
        >
          <option></option>
          <option value="27">Odisha</option>
        </select>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col col-xl-4 col-lg-4 form_label">District</div>
      <div class="col row-fluid" style="font-weight: bold">
        <select
          value="{{ selected_districtid }}"
          (change)="selected_district_onchange($event)"
          class="form-control"
        >
          <option value=""></option>
          <option *ngFor="let dist of alldistrictdata" value="{{ dist._id }}">
            {{ dist.districtname | titlecase }}
          </option>
        </select>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col col-xl-4 col-lg-4 form_label">Block</div>
      <div class="col row-fluid" style="font-weight: bold">
        <select
          value="{{ selected_blockid }}"
          (change)="selected_block_onchange($event)"
          class="form-control"
        >
          <option value=""></option>
          <option *ngFor="let block of allblockdata" value="{{ block._id }}">
            {{ block.blockname | titlecase }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-xl-4 col-lg-4">Anganwadi List</div>
    <div class="col col-xl-8 col-lg-8 row-fluid">
      <div *ngFor="let item of allanganwadicontrollerlist" class="row">
        <div class="col-35">
          <label>{{ item.anganwadiname }}</label>

          <input
            type="checkbox"
            name="item.name"
            (change)="onchange()"
            [(ngModel)]="item.isselected"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="update_data()">
      &nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;
    </button>
  </div>
</ng-template> -->
