<div [@routerTransition]>
    <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-xl-4 col-lg-4">
                            <h4 style="font-size: 16px; margin-top: 5px;color: black;">Individual Teacher Educator
                                Details </h4>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding: 25px; font-size: 15px;color: black;">
                    <div class="col-2">
                        <label>Center Type</label>
                        <select class="form-control select2" [(ngModel)]="center_type"
                            style="font-size: 14px; height: 30px;">
                            <option value="all">All</option>
                            <option value="anganwadi">Anganwadi</option>
                            <option value="school">School</option>
                            <option value="fellow">Fellow</option>
                        </select>

                    </div>
                    <div class="col-2">
                        <label>Select District</label>
                        <select class="form-control select2" [(ngModel)]="distric" (change)="selectBlock(distric)"
                            style=" height: 30px;">

                            <option value="all">All</option>
                            <option *ngFor="let distic of allDistics" value={{distic.district}}>{{distic.district}}
                            </option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Select Block</label>
                        <select class="form-control select2" [(ngModel)]="block" style=" height: 30px;">

                            <option value="all">All</option>
                            <option *ngFor="let block of all_blocks" value={{block.block}}>{{block.block}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>Program Type</label>
                        <select class="form-control select2" [(ngModel)]="program_type" style=" height: 30px;">

                            <option value="all">All</option>
                            <option value="ece">ECE</option>
                            <option value="pge">PGE</option>
                        </select>
                    </div>

                    

                    <div class="col-2">
                        <button type="button" (click)="viewData()" class="btn btn-info" style="margin-top:29px;width: 92%;">Filter</button>
                    </div>
                    <div class="col-2">
                        <div class="row" style="float: right;">

                            <i class="fa fa-download" (click)="download()" title="Download" style="cursor: pointer;margin-right: 21px;"></i>
                        </div>


                    </div>

                    </div>



                </div>
                <div id="loading_indicator" class="loading_indicator" *ngIf="!isLoaded">
                    <span class=""><img src="assets/images/loader3.gif" style="padding: 25px;"
                            alt="Loading. Please wait..."></span>
                </div>

                <div id="table-scroll" class="table-scroll" *ngIf="isLoaded">
                    <div class="table-wrap" style="overflow-x:auto;  margin-top: -2%;">
                        <table class="table table-striped main-table" [mfData]="filterData" #mf="mfDataTable"
                            [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th>Educator Name</th>
                                    <th>Status</th>
                                    <th>Center Name</th>
                                    <th>Center Type</th>
                                    <th>Center Id</th>
                                    <th>Block</th>
                                    <th>District</th>
                                    <th>State</th>
                                    <th>Qualification</th>
                                    <th>Contact No </th>
                                    <th> Address</th>
                                    <th>Special Initiatives</th>
                                    <th>Aspirations</th>
                                    <th>Centre Start Date</th>
                                    <th>Pre-Program Training Marks Secured</th>
                                    <th>Online Training Module Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let detail of  mf.data">
                                <td>{{detail.user?.teachername}}</td>
                                  <td>{{detail.user?.status}}</td>
                                  <td>{{detail.center?.centername}}</td>
                                  <td>{{detail.center?.centertype}}</td>
                                  <td>{{detail.center?.centerid}}</td>
                                  <td>{{detail.center?.block}}</td>
                                  <td>{{detail.center?.district}}</td>
                                  <td>  </td>
                                  <td>{{detail.user?.qualification}}</td>
                                  <td>{{detail.user?.contactno}}</td>
                                  <td>{{detail.user?.address}}</td>
                                  <td>{{detail.user?.special_initiatives}}</td>
                                  <td>{{detail.user?.aspirations}}</td>
                                  <td>{{detail.user?.center_start_date}}</td>
                                  <td>{{detail.user?.preprogram_training_mark}}</td>
                                  <td></td>
                                </tr>
    
                            </tbody>
    
    
    

                            <tfoot>
                                <tr>
                                    <td colspan="20">
                                        <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>


                        </table>



                    </div>
                </div>

            <div class="row" style="text-align: center;margin:10%;margin-left:30%">
                <h1>Oops!!</h1>
                <br>
                <span style="margin-top: 20px;">There is no Data For Selected Fields</span>
            </div>

        </div>
    </div>
</div>