table{
    width: 100%;;
}
.image_container1{
    width: 250px;
    height: 250px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.image_container2{
    width: 200px;
    height: 200px;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    margin-bottom: 30px;
}