<div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
  <table>
    <tr><td>
      <div class="image_container1">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
          <ngx-croppie *ngIf="croppieImage" #ngxCroppie [outputFormatOptions]="outputoption" [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" (result)="newImageResultFromCroppie($event)"></ngx-croppie>
          <input #imageUpload hidden type="file" id="fileupload" #imageUpload (change)="imageUploadEvent($event)" accept="image/gif, image/jpeg, image/png"/>
          <button fxFlex="100" class="text-white font-weight-bold mat-elevation-z0" type="button" mat-raised-button color="primary" (click)="imageUpload.click()">Select Image</button>
        </div>
      </div>
    </td></tr>
    <tr><td>
      <table width="100%">
        <tr>
          <td width="45%">
            <button type="button" (click)="imageUpload.click()"  class="btn btn-light btn-block">Select Image</button>
          </td>
          <td width="10%">
            <input type="file" id="fileupload" (change)="imageUploadEvent($event)" accept="image/gif, image/jpeg, image/png" hidden #imageUpload #imageUpload/>
          </td>
          <td width="45%">
            <button type="button" (click)="save_to_s3()" class="btn btn-primary btn-block">Save</button>
          </td>
        </tr>
      </table>
    </td></tr>
  </table>
</div>
