.fa-arrow-circle-right{
	color: black !important;
    font-size: 20px !important;
}
.card-header{
	background-color: rgba(0, 2, 4, 0.18) !important;
}
.counter{
	font-size: 30px;
    /*font-family: 'arial black';*/
}