<div [@routerTransition]>
    <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
					<div class="row">
						<div class="col col-xl-4 col-lg-4">
							<h4>MANAGERS TRAINING CONTENT</h4>
						</div>
					</div>					
				</div>
				
				<div class="card-body table-responsive">
					<div class="row">
						<div class=" col col-lg-1 col-md-1 col-sm-1">
							<button (click)="back_btn_click()" class="btn btn-light" type="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;&nbsp;Back</button>
						</div>
						<div class=" col col-lg-1 col-md-1 col-sm-1 bttm">Module:</div>
						<div class=" col col-lg-4 col-md-4 col-sm-4 bttm">{{ selected_modulename | titlecase }}</div>
						<div class=" col col-lg-2 col-md-2 col-sm-2 bttm">Submodule:</div>
						<div class=" col col-lg-4 col-md-4 col-sm-4 bttm">{{ selected_submodulename | titlecase }}</div>
					</div>
				</div>

				<div id="loading_indicator" class="loading_indicator" [hidden]="hideLoading_indicator" >
					<span class=""><img src="assets/images/loader3.gif" alt="Loading. Please wait..." ></span>
				</div>

				<div id="content_div" class="pad25" [hidden]="hideContent_div" >

					<!-- Contents -->
					<div>
						<span class="bold-font">Content:</span>
						<!-- <textarea [(ngModel)]="content_value" class="area-width"></textarea> -->
						<ckeditor [editor]="Editor"  [(ngModel)]="content_value" data="{{content_value}}"></ckeditor>
					</div>

					<!-- Videos -->
					<div class="margintop30">
						<table class="table50">
							<tr>
								<td>
									<span class="bold-font">Videos:</span>
									<span class="addbtn" (click)="open(addvideomodal,null,null,'addvideo')"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
								</td>
								<td></td>
							</tr>
							<tr *ngFor="let video of video_value; let i = index;">
								<td>
									<div>
										<span>{{ i+1 }}.{{ video }}</span>
										</div>
								</td>
								<td>
									<div>
										<span class="delbtn" (click)="delvideo(i)"><i class="fa fa-minus-square" aria-hidden="true"></i></span>
									</div>
								</td>
							</tr>
						</table>
					</div>

					<!-- Worksheets -->
					<div class="margintop30">
						<table class="table50">
							<tr>
								<td>
									<span class="bold-font">Worksheets:</span>
									<span class="addbtn" (click)="open(addworksheetmodal, null, null, 'addworksheet')"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
								</td>
							</tr>
							<tr *ngFor="let sheet of worksheet_value; let i = index;">
								<td>
									<div>
										<span>{{ i+1 }}.{{ sheet }}</span>
									</div>
								</td>
								<td>
									<div>
										<span class="delbtn" (click)="delsheet(i)"><i class="fa fa-minus-square" aria-hidden="true"></i></span>
									</div>
								</td>
							</tr>
						</table>
					</div>

					
					<!-- Flashcards -->
					<div class="margintop30">
						<table class="table50">
							<tr>
								<td>
									<span class="bold-font">Images:</span>
									<!-- <span class="addbtn" (click)="addflashcard()"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
									<span class="delbtn" (click)="delflashcard()"><i class="fa fa-minus-square" aria-hidden="true"></i></span> -->
								</td>
							</tr>
							<tr>
								<td>
									<div class="file-upload">
										<input type="file" name="image" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
										<!-- <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
											Upload
										</button> -->
									</div>
								</td>
								<td>
									<button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" class="btn btn-sm btn-primary" type="button">&nbsp;&nbsp;&nbsp; Upload &nbsp;&nbsp;&nbsp;</button>
								</td>
							</tr>
							<tr>
								<td>
									<div class="image_preview_container">
										<div class="image_preview" *ngFor="let flash of flashcard_value; let i = index;">
											<div>
												<img src="{{imageURL}}{{flash}}" class="image" />
											</div>
											<div class="delbtn" (click)="delflashcard(i)">
												<i class="fa fa-times-circle" aria-hidden="true"></i>
											</div>
										</div>
									</div>
								</td>
								<td></td>
							</tr>
						</table>
					</div>

					
					<!-- Quizes -->
					<div class="margintop30">
						<table class="table50">
							<tr>
								<td>
									<span class="bold-font">Quizes:</span>
									<span class="addbtn" (click)="open(addmodal,null,null,'add')"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
								</td>
							</tr>
							<tr *ngFor="let quiz of quiz_value; let i = index;" class="tbl_tr">
								<td>
									<div class="q_container">
										<div class="row">
											<div class="col col-xl-12 col-lg-12 q_div">
												{{ i+1 }}. {{ quiz.question }}
											</div>
										</div>
										<div class="row">
											<div class="col col-xl-6 col-lg-6">
												A. {{ quiz.A }}
											</div>
											<div class="col col-xl-6 col-lg-6">
												B. {{ quiz.B }}
											</div>
										</div>
										<div class="row">
											<div class="col col-xl-6 col-lg-6">
												C. {{ quiz.C }}
											</div>
											<div class="col col-xl-6 col-lg-6">
												D. {{ quiz.D }}
											</div>
										</div>
										<div class="row">
											<div class="col col-xl-12 col-lg-12 ans_div">
												Ans. {{ quiz.answer | uppercase }}
											</div>
										</div>
									</div>
								</td>
								<td class="tbl_td">
									<div>
										<span class="addbtn" (click)="open(editmodal,quiz,i,'edit')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
										<span class="delbtn" (click)="open(deletemodal,quiz,i,'delete')"><i class="fa fa-minus-square" aria-hidden="true"></i></span>
									</div>
								</td>
							</tr>
						</table>
					</div>

					<!-- Quiz Modal starts from here -->
					<ng-template #addmodal let-c="close" let-d="dismiss">
						<div class="modal-body">											
							<div class="row padd15">
								<input [(ngModel)]="add_q_question" type="text" class="form-control input-underline input-lg" placeholder="Question">
							</div>
							<div class="row marginb10">
								<div class="col col-lg-1 col-md-1">A</div>
								<div class="col col-lg-4 col-md-4">
									<input [(ngModel)]="add_q_optionA" type="text" class="form-control input-underline input-lg" placeholder="Option A">
								</div>
								<div class="col col-lg-2 col-md-2"></div>
								<div class="col col-lg-1 col-md-1">B</div>
								<div class="col col-lg-4 col-md-4">
									<input [(ngModel)]="add_q_optionB" type="text" class="form-control input-underline input-lg" placeholder="Option B">
								</div>
							</div>
							<div class="row marginb10">
								<div class="col col-lg-1 col-md-1">C</div>
								<div class="col col-lg-4 col-md-4">
									<input [(ngModel)]="add_q_optionC" type="text" class="form-control input-underline input-lg" placeholder="Option C">
								</div>
								<div class="col col-lg-2 col-md-2"></div>
								<div class="col col-lg-1 col-md-1">D</div>
								<div class="col col-lg-4 col-md-4">
									<input [(ngModel)]="add_q_optionD" type="text" class="form-control input-underline input-lg" placeholder="Option D">
								</div>
							</div>
							<div class="row">
								<div class="col col-lg-1 col-md-1">Ans</div>
								<div class="col col-lg-4 col-md-4">
									<select value="" (change)="onselect_addq_select($event)" class="form-control">
										<option value="">Select</option>
										<option value="A">A</option>
										<option value="B">B</option>
										<option value="C">C</option>
										<option value="D">D</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
							<button type="button" class="btn btn-primary" (click)="addquiz()">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>
						</div>
					</ng-template>
						
					<ng-template #editmodal let-c="close" let-d="dismiss">
						<div class="modal-body">											
							<div class="row padd15">
								<input value="{{edit_q_question}}" [(ngModel)]="edit_q_question" type="text" class="form-control input-underline input-lg" placeholder="Question">
							</div>
							<div class="row marginb10">
								<div class="col col-lg-1 col-md-1">A</div>
								<div class="col col-lg-4 col-md-4">
									<input value="{{edit_q_optionA}}" [(ngModel)]="edit_q_optionA" type="text" class="form-control input-underline input-lg" placeholder="Option A">
								</div>
								<div class="col col-lg-2 col-md-2"></div>
								<div class="col col-lg-1 col-md-1">B</div>
								<div class="col col-lg-4 col-md-4">
									<input value="{{edit_q_optionB}}" [(ngModel)]="edit_q_optionB" type="text" class="form-control input-underline input-lg" placeholder="Option B">
								</div>
							</div>
							<div class="row marginb10">
								<div class="col col-lg-1 col-md-1">C</div>
								<div class="col col-lg-4 col-md-4">
									<input value="{{edit_q_optionC}}" [(ngModel)]="edit_q_optionC" type="text" class="form-control input-underline input-lg" placeholder="Option C">
								</div>
								<div class="col col-lg-2 col-md-2"></div>
								<div class="col col-lg-1 col-md-1">D</div>
								<div class="col col-lg-4 col-md-4">
									<input value="{{edit_q_optionD}}" [(ngModel)]="edit_q_optionD" type="text" class="form-control input-underline input-lg" placeholder="Option D">
								</div>
							</div>
							<div class="row">
								<div class="col col-lg-1 col-md-1">Ans</div>
								<div class="col col-lg-4 col-md-4">
									<select value="{{edit_q_ans}}" (change)="onselect_editq_select($event)" class="form-control">
										<option value="">Select</option>
										<option value="A">A</option>
										<option value="B">B</option>
										<option value="C">C</option>
										<option value="D">D</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
							<button type="button" class="btn btn-primary" (click)="updatequiz()">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>
						</div>
					</ng-template>

					<!-- delete quiz -->
					<ng-template #deletemodal let-c="close" let-d="dismiss">
						<div class="modal-body">											
							<div class="row">
							<img src="assets/images/warning.png" class="warning-icon">											
							<span class="col col-xl-9 col-lg-9">Are you sure, you want to remove this records!</span>									
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
							<button type="button" class="btn btn-danger" (click)="delquiz()">&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;</button>
						</div>
					</ng-template>
	
					<!-- add file video -->
					<ng-template #addvideomodal let-c="close" let-d="dismiss">
						<div class="modal-body">
							<div class="row padd15">
								Please enter only filename. <br><b>Extension like .mp4, .pdf etc are NOT required.</b><br><br>
								<input [(ngModel)]="video_file_name" type="text" class="form-control input-underline input-lg" placeholder="File name">
							</div>								
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
							<button type="button" class="btn btn-primary" (click)="addvideo()">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>
						</div>
					</ng-template>

					<!-- add file worksheet -->
					<ng-template #addworksheetmodal let-c="close" let-d="dismiss">
						<div class="modal-body">
							<div class="row padd15">
								Please enter only filename. <br><b>Extension like .mp4, .pdf etc are NOT required.</b><br><br>
								<input [(ngModel)]="worksheet_file_name" type="text" class="form-control input-underline input-lg" placeholder="File name">
							</div>								
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
							<button type="button" class="btn btn-primary" (click)="addsheet()">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>
						</div>
					</ng-template>
					<div>
						<button (click)="save_btn_click()" class="btn btn-sm btn-primary float-right" type="button">&nbsp;&nbsp;&nbsp; {{ save_operation | titlecase }} &nbsp;&nbsp;&nbsp;</button>
					</div>
				</div>
            </div>                       
        </div>        
    </div>
</div>
