<div [@routerTransition]>
  <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <div class="row">
            <div class="col col-xl-4 col-lg-4">
              <h4>Erase Data</h4>
            </div>
          </div>
        </div>

        <!-- content displayed here -->
        <div class="card-body table-responsive">
          <!-- filters -->
          <div class="">
            <div class="row">
              <div class="col col-xl-3 col-lg-3">
                <select
                  value="{{ userid }}"
                  (change)="userid_onchange($event)"
                  class="form-control"
                >
                  <option value="">Select</option>
                  <option value="jyoti.bbsrodisha@gmail.com">Jyoti</option>
                  <option value="satabdeeramesh@gmail.com">Satabdee</option>
                  <option value="shreeyamishra334@gmail.com">Shreeya</option>
                  <option value="satabdeeramesh@gmail.com">Uttam</option>
                </select>
              </div>
              <div class="col col-xl-3 col-lg-3">
                <input
                  type="checkbox"
                  id="all"
                  data-md-icheck
                  [checked]="allChecked"
                  (change)="allchanged($event, data)"
                />
                <label for="all"> ALL</label><br />
                <input
                  type="checkbox"
                  id="userdata"
                  data-md-icheck
                  [checked]="userdata"
                  (change)="userDataCheckboxChanged($event, data)"
                />
                <label for="userdata"> USERDATA</label><br />
                <input
                  type="checkbox"
                  id="baseline"
                  data-md-icheck
                  [checked]="baseline"
                  (change)="baselineCheckboxChanged($event, data)"
                />
                <label for="baseline"> BASELINE</label><br />
                <input
                  type="checkbox"
                  id="ppt"
                  data-md-icheck
                  [checked]="pptdata"
                  (change)="pptCheckboxChanged($event, data)"
                />
                <label for="ppt"> PPT</label><br />
                <input
                  type="checkbox"
                  id="monthly"
                  data-md-icheck
                  [checked]="monthly"
                  (change)="monthlyCheckboxChanged($event, data)"
                />
                <label for="monthly"> MONTHLY</label><br />
              </div>
              <div class="col col-xl-3 col-lg-3">
                <input
                  type="checkbox"
                  id="endline"
                  data-md-icheck
                  [checked]="endline"
                  (change)="endlineCheckboxChanged($event, data)"
                />
                <label for="endline"> ENDLINE</label><br />
                <input
                  type="checkbox"
                  id="nsdc"
                  data-md-icheck
                  [checked]="nsdcexam"
                  (change)="nsdcCheckboxChanged($event, data)"
                />
                <label for="nsdc"> NSDC EXAM</label><br />
                <input type="submit" value="Submit" (click)="eraseData()" />
              </div>
            </div>
          </div>
          <!-- ======= -->
          <div
            id="loading_indicator"
            class="loading_indicator"
            [hidden]="hideLoading_indicator"
          >
            <span class=""
              ><img
                src="assets/images/loader3.gif"
                alt="Loading. Please wait..."
            /></span>
          </div>
          <div>
            <div class="row"></div>
            <div class="row"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
