<div [@routerTransition]>
    <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
					<div class="row">
						<div class="col col-xl-9 col-lg-9">
							<h4>SMS SERVICE</h4>
						</div>
						<div class="col">
							<button (click)="open(contact)" class="btn btn-sm btn-light" type="button"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ADD CONTACT</button>
							<button (click)="open(content)" class="btn btn-sm btn-primary float-right" type="button"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;SEND SMS</button>
							
							<!-- Modal starts from here -->
							<ng-template #content let-c="close" let-d="dismiss">
								<div class="card-body">
									<div class="form-content">
										<div class="row">
											<div class="col col-xl-3 col-lg-3">
												To
											</div>
											<div class="col col-xl-9 col-lg-9">
												<div class="form-group">
													<ng-multiselect-dropdown
														[placeholder]="'Select contact'"
														[data]="multiselect_contactlist"
														[(ngModel)]="multiselect_selectedcontactlist"
														[settings]="multiselect_settings"
														(onSelect)="multiselect_onselectitem($event)"
														(onSelectAll)="multiselect_onselectall($event)"
													>
													</ng-multiselect-dropdown>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col col-xl-3 col-lg-3">
												Message
											</div>
											<div class="col col-xl-6 col-lg-6">
												<div class="form-group">
													<textarea [(ngModel)]="modal_sms_message" class="form-control input-underline input-lg txt-area" placeholder="Enter Message"></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
									<button type="submit" class="btn btn-primary" (click)="send_button_click()">&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;</button>
								</div>
							</ng-template>

							<!-- Contacts Modal -->
							<ng-template #contact let-c="close" let-d="dismiss">
								<div class="card-body">
									<div class="form-content">
										<div class="row">
											<div class="col col-xl-3 col-lg-3">
												Name
											</div>
											<div class="col col-xl-9 col-lg-9">
												<div class="form-group">
													<input type="text" [(ngModel)]="modal_contact_name" class="form-control input-underline input-lg" placeholder="Name">													
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col col-xl-3 col-lg-3">
												Number
											</div>
											<div class="col col-xl-9 col-lg-9">
												<div class="form-group">
													<input type="text" [(ngModel)]="modal_contact_number" class="form-control input-underline input-lg" placeholder="Number">													
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" (click)="c('Close click')">Close</button>
									<button type="submit" class="btn btn-primary" (click)="save_contact_button_click()">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>
								</div>
							</ng-template>
						</div>
					</div>					
				</div>

				<div>
					<div class="">	
							<div id="loading_indicator" class="loading_indicator" [hidden]="hideLoading_indicator" >
								<span class=""><img src="assets/images/loader3.gif" alt="Loading. Please wait..." ></span>
							</div>
							<div class="row">
								<div class="col col-lg-7 col-md-7 col-sm-7">SMS List</div>
								<div class="col col-lg-5 col-md-5 col-sm-5">Contacts List</div>
							</div>
							<div class="row">
								<div class="col col-lg-7 col-md-7 col-sm-7">
									<table class="table table-striped" [mfData]="allsmslist" #mf1="mfDataTable" [mfRowsOnPage]="4">
										<thead>
										<tr>
											<th style="width: 15%">
												<mfDefaultSorter by="sms">Message</mfDefaultSorter>
											</th>
											<th style="width: 30%">Receivers</th>
											<th style="width: 15%">
												<mfDefaultSorter by="createdon">Date</mfDefaultSorter>
											</th>
										</tr>
										</thead>
										<tbody>
										<tr *ngFor="let sms of mf1.data">
											<td>
												<span class="bold-font">{{sms.sms}}</span>
											</td>
											<td>
												<div class="row">
													<div *ngFor="let contact of sms.tonumbers" class="cont">
														<span>{{contact.contactname}}</span><br>
														<span>{{contact.contactnumber}}</span>
													</div>
												</div>
											</td>
											<td>{{sms.createdon | date:'medium'}}</td>
										</tr>
										</tbody>
										<tfoot>
										<tr>
											<td colspan="4">
												<!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
												<mfBootstrapPaginator></mfBootstrapPaginator>
											</td>
										</tr>
										</tfoot>
									</table>
								</div>
								<div class="col col-lg-5 col-md-5 col-sm-5">
									<table class="table table-striped" [mfData]="allcontactlist" #mf2="mfDataTable" [mfRowsOnPage]="4">
										<thead>
										<tr>
											<th style="width: 15%">
												<mfDefaultSorter by="contactname">Name</mfDefaultSorter>
											</th>
											<th style="width: 30%">Number</th>
											<th style="width: 15%">Action</th>
										</tr>
										</thead>
										<tbody>
										<tr *ngFor="let contacts of mf2.data">
											<td>
												<span class="bold-font">{{contacts.contactname}}</span>
											</td>
											<td>
												<span>{{contacts.contactnumber}}</span>
											</td>
											<td>
												<div class="row">
													<div class="col col-xl-6 col-lg-6">
														<!-- delete button datatable -->
														<button type="button" class="btn btn-danger input-block-level form-control delete-button" (click)="open(deletemodal)"><i class="fa fa-trash" aria-hidden="true"></i></button>
													</div>
												</div>
																										
												<!-- Modal starts from here -->
												<ng-template #deletemodal let-c="close" let-d="dismiss">
													<form role="form" (ngSubmit)="delete_contact_btn_click(contacts)">
														<div class="delmodal">											
															<div class="row">
															<img src="assets/images/warning.png" class="warning-icon">											
															<span class="col col-xl-9 col-lg-9">Are you sure, you want to remove records of {{ contacts.contactname}} !</span>									
															</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
															<button type="submit" class="btn btn-danger">&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;</button>
														</div>
													</form>
												</ng-template>
											</td>
										</tr>
										</tbody>
										<tfoot>
										<tr>
											<td colspan="4">
												<!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
												<mfBootstrapPaginator></mfBootstrapPaginator>
											</td>
										</tr>
										</tfoot>
									</table>
								</div>
							</div>
					</div>
				</div>
            </div>                       
        </div>        
    </div>
</div>
