<div [@routerTransition]>
    <!--<app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>-->
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
					        <div class="row">
						        <div class="col col-xl-4 col-lg-4">
						        	<h4>ACTIVITIES DASHBOARD</h4>
						        </div>
			      	  	</div>					
			      	  </div>
				
				<div class="card-body table-responsive">
					<table style="width: 100%;">
						<tr>
							<td style="width: 20%; vertical-align: top;">
								<div>
									<div>
										<span class="bold-font">Prefered Language</span>
										<span>
											<select id="selected_preflanguage" value="{{selected_preflanguage}}"  (change)="preflanguage_select_onchange($event)" class="form-control">
												<option value="">Select</option>
												<option value="en">English</option>
												<option value="od">ଓଡିଆ</option>
												<!-- <option value="hi">हिंदी</option> -->
											</select>
										</span>
									</div>
									<br />

									<div>
										<span class="bold-font">Program</span>
										<span>
											<select id="select_program" value="{{selected_program}}"  (change)="program_select_onchange($event)" class="form-control">
												<option value="">Select</option>
												<option value="ece">ECE</option>
												<option value="pge">PGE</option>
											</select>
										</span>
									</div>
									<br />

									<div>
										<span class="bold-font">Level</span>
										<span>
											<select id="selected_level" value="{{selected_level}}"  (change)="level_select_onchange($event.target.value)" class="form-control">
												<option value="">Select</option>
												<option *ngFor="let opt of level_select_option_list;" value="{{ opt.value }}">{{ opt.text | titlecase }}</option>
											</select>
										</span>
									</div>
									<br />

									<div [hidden]="hideSubject_select">
										<span class="bold-font">Subject</span>
										<span>
											<select id="select_subject" value="{{selected_subject}}"  (change)="subject_select_onchange($event)" class="form-control">
												<option value="">Select</option>
												<option value="math">Math</option>
												<option value="english">English</option>
												<option value="odia">Odia</option>
											</select>
										</span>
									</div>
									<br />

									<div>
										<span class="bold-font">Skill Set</span>
										<span>
											<select id="selected_month" value="{{selected_month}}"  (change)="month_select_onchange($event.target.value)" class="form-control">
												<option value="">Select</option>
												<option *ngFor="let opt of month_select_option_list;" value="{{ opt.value }}">{{ opt.text | titlecase }}</option>
											</select>
										</span>
									</div>
									<br />

									<div>
										<span class="bold-font">Skill</span>
										<span>
											<select id="selected_week" value="{{selected_week}}"  (change)="week_select_onchange($event.target.value)" class="form-control">
												<option value="">Select</option>
												<option *ngFor="let opt of week_select_option_list;" value="{{ opt.value }}">{{ opt.text | titlecase }}</option>
											</select>
										</span>
									</div>
								</div>
							</td>

							<td style="vertical-align: top;">
								<div id="loading_indicator" class="loading_indicator" [hidden]="hideLoading_indicator" >
									<span class=""><img src="assets/images/loader3.gif" alt="Loading. Please wait..." ></span>
								</div>
				
								<div id="content_div" class="pad25" [hidden]="hideContent_div" >
									<!-- === Tabs Started Here ===  -->
									<ngb-tabset class="tabset1">
				
										<ngb-tab title="Contents">
											<ng-template ngbTabContent>
												<div class="tab_content" >
														<!-- Text Contents  -->
													<div>
														<!-- <span class="bold-font">Content:</span> -->
														<!-- <textarea [(ngModel)]="content_value" class="area-width"></textarea> -->
														<ckeditor [editor]="Editor"  [(ngModel)]="content_value" data="{{content_value}}"></ckeditor>
													</div>
													<br />
													<div>
														<button (click)="save_btn_click()" class="btn btn-primary float-right" type="button">&nbsp;&nbsp;&nbsp;{{ save_operation | titlecase }}&nbsp;&nbsp;&nbsp;</button>
													</div>
												</div>
											</ng-template>
										</ngb-tab>
				
										<ngb-tab title="Images">
											<ng-template ngbTabContent>
												<div class="tab_content" >

													<div class="row">
														<div class="image_preview_container">
															<div class="image_preview" *ngFor="let flash of flashcard_value; let i = index;">
																<div>
																	<img src="{{imageURL}}{{flash}}" class="image" (click)="open(viewmodal,flash,'view')" />
																</div>
																<div class="delbtn" (click)="delflashcard(i)">
																	<i class="fa fa-times-circle" aria-hidden="true"></i>
																</div>
															</div>
														</div>
													</div>

													<div class="margintop30">
														<div class="row">
															<div class="col col-lg-10 col-md-10 col-sm-10">
																<div class="file-upload">
																	<input type="file" name="image" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
																</div>
															</div>
															<div class="col col-lg-2 col-md-2 col-sm-2">
																<button (click)="uploader.uploadAll()" class="btn btn-primary float-right" type="button" [disabled]="!uploader.getNotUploadedItems().length">&nbsp;&nbsp;&nbsp;{{ save_operation | titlecase }}&nbsp;&nbsp;&nbsp;</button>
															</div>
														</div>
													</div>
													<!-- Flashcards -->
													<div class="margintop30">
														<!-- image preview modal   -->
														<ng-template #viewmodal let-c="close" let-d="dismiss">
															<div class="modal-body">	
																<div class="row">
																	<div class="col-md-12">
																		<ngb-carousel>
																			<ng-template ngbSlide *ngFor="let slider of sliders">
																				<img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Preview" width="100%">
																				<div class="carousel-caption">
																					<h3>{{slider.label}}</h3>
																					<p>{{slider.text}}</p>
																				</div>
																			</ng-template>
																		</ngb-carousel>
																	</div>
																</div> 
															</div>
														</ng-template>
													</div>
												</div>
											</ng-template>
										</ngb-tab>
				
										<ngb-tab title="Worksheets">
											<ng-template ngbTabContent>
												<div class="tab_content" >
													<!-- Worksheets  -->
													<div class="margintop30">
														<table class="table50">
															<tr>
																<td>
																	<span class="bold-font">Worksheets:</span>
																	<span class="addbtn" (click)="open(urlmodal, null, 'addworksheet')"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
																	<!-- <span class="delbtn" (click)="delsheet()"><i class="fa fa-minus-square" aria-hidden="true"></i></span> -->
																</td>
															</tr>
															<tr>
																<td>
																	<div class="image_preview_container">
																		<div class="row" *ngFor="let sheet of worksheet_value; let i = index;">
																			<div class="col col-lg-11 col-md-11 col-sm-11">
																				<span>{{ i+1 }}.{{ sheet }}</span>
																			</div>
																			<div class="col col-lg-1 col-md-1 col-sm-1">
																				<!-- <span class="editbtn" (click)="open(urlmodal, sheet, 'editworksheet')"><i class="fa fa-pencil-square" aria-hidden="true"></i></span> -->
																				<span class="delbtn" (click)="delsheet(i)"><i class="fa fa-minus-square" aria-hidden="true"></i></span>
																			</div>
																		</div>
																	</div>
																</td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td>
																	<div>
																		<button (click)="save_btn_click()" class="btn btn-primary float-right" type="button">&nbsp;&nbsp;&nbsp;{{ save_operation | titlecase }}&nbsp;&nbsp;&nbsp;</button>
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</div>
											</ng-template>
										</ngb-tab>
				
										<ngb-tab title="Videos">
											<ng-template ngbTabContent>
												<div class="tab_content" >
													<!-- Videos  -->
													<div class="margintop30">
														<table class="table50">
															<tr>
																<td>
																	<span class="bold-font">Videos:</span>
																	<span class="addbtn" (click)="open(urlmodal, null, 'addvideo')"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
																	<!-- <span class="delbtn" (click)="delvideo()"><i class="fa fa-minus-square" aria-hidden="true"></i></span> -->
																</td>
																<td></td>
															</tr>
															<tr>
																<td>
																	<div class="image_preview_container">
																		<div class="row" *ngFor="let video of video_value; let i = index;">
																			<div class="col col-lg-11 col-md-11 col-sm-11">
																				<span>{{ i+1 }}.{{ video }}</span>
																			</div>
																			<div class="col col-lg-1 col-md-1 col-sm-1">
																				<!-- <span class="editbtn" (click)="open(urlmodal, sheet, 'editworksheet')"><i class="fa fa-pencil-square" aria-hidden="true"></i></span> -->
																				<span class="delbtn" (click)="delvideo(i)"><i class="fa fa-minus-square" aria-hidden="true"></i></span>
																			</div>
																		</div>
																	</div>
																</td>
																<td></td>
															</tr>
															<tr>
																<td></td>
																<td>
																	<div>
																		<button (click)="save_btn_click()" class="btn btn-primary float-right" type="button">&nbsp;&nbsp;&nbsp;{{ save_operation | titlecase }}&nbsp;&nbsp;&nbsp;</button>
																	</div>
																</td>
															</tr>
														</table>
													</div>
												</div>
											</ng-template>
										</ngb-tab>
									</ngb-tabset>

									<!-- add/edit modal starts from here -->
									<ng-template #urlmodal let-c="close" let-d="dismiss">
										<div class="modal-body">
											<div class="row">
												<div class="col col-xl-4 col-lg-4">Add Url</div>
												<div class="col col-xl-8 col-lg-8 row-fluid">
													<input value="{{txt_modal_url}}" [(ngModel)]="txt_modal_url" type="text" placeholder="Url" class="table50">
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
											<button type="submit" class="btn btn-primary" (click)="modal_submit()">&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;</button>
										</div>
									</ng-template>
									<!-- =========================  -->
									<!-- <div>
										<button (click)="save_btn_click()" class="btn btn-primary float-right" type="button">&nbsp;&nbsp;&nbsp;{{ save_operation | titlecase }}&nbsp;&nbsp;&nbsp;</button>
									</div> -->
								</div>
							</td>
						</tr>
					</table>
				</div>
            </div>                       
        </div>        
    </div>
</div>
